/* starfield adapted from https://codepen.io/saransh/pen/BKJun */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1314px #666, 525px 1141px #666, 327px 522px #666,
    271px 109px #666, 437px 1565px #666, 103px 852px #666, 1374px 1952px #666,
    931px 1743px #666, 1405px 1949px #666, 445px 814px #666, 1455px 1148px #666,
    1879px 1713px #666, 1670px 1917px #666, 315px 213px #666, 97px 1319px #666,
    1639px 1688px #666, 367px 9px #666, 1034px 564px #666, 1546px 219px #666,
    948px 516px #666, 487px 13px #666, 415px 335px #666, 1879px 1750px #666,
    1685px 701px #666, 1715px 747px #666, 550px 1672px #666, 743px 388px #666,
    1988px 1634px #666, 791px 973px #666, 1596px 1952px #666, 432px 1599px #666,
    415px 1397px #666, 261px 798px #666, 1941px 708px #666, 1812px 1881px #666,
    804px 1254px #666, 1343px 1103px #666, 1662px 1630px #666,
    1446px 1760px #666, 93px 1378px #666, 901px 324px #666, 1587px 1549px #666,
    998px 242px #666, 1442px 525px #666, 1491px 1839px #666, 802px 1277px #666,
    1598px 137px #666, 877px 1841px #666, 66px 857px #666, 772px 779px #666,
    990px 1921px #666, 668px 1939px #666, 994px 521px #666, 1194px 548px #666,
    498px 1505px #666, 835px 1934px #666, 443px 1063px #666, 66px 1543px #666,
    1796px 167px #666, 264px 1967px #666, 1357px 540px #666, 1456px 908px #666,
    1508px 283px #666, 1186px 1577px #666, 1956px 1907px #666, 471px 266px #666,
    949px 1889px #666, 1737px 848px #666, 178px 301px #666, 1703px 1208px #666,
    1277px 1200px #666, 29px 199px #666, 573px 1468px #666, 1366px 1916px #666,
    883px 468px #666, 1757px 357px #666, 650px 1055px #666, 988px 1982px #666,
    521px 1082px #666, 173px 1745px #666, 96px 1992px #666, 615px 673px #666,
    683px 1042px #666, 1163px 1716px #666, 398px 894px #666, 1652px 1360px #666,
    1932px 491px #666, 1550px 1368px #666, 1136px 739px #666, 1302px 672px #666,
    1781px 796px #666, 853px 309px #666, 589px 1922px #666, 612px 615px #666,
    1635px 277px #666, 762px 1897px #666, 313px 1886px #666, 1377px 374px #666,
    445px 1018px #666, 73px 1728px #666, 798px 1898px #666, 1713px 1784px #666,
    1278px 1274px #666, 681px 1925px #666, 1959px 466px #666, 440px 229px #666,
    81px 1971px #666, 610px 142px #666, 1184px 979px #666, 515px 98px #666,
    1034px 625px #666, 1606px 405px #666, 1754px 1756px #666, 90px 1004px #666,
    1815px 492px #666, 691px 188px #666, 912px 1808px #666, 810px 453px #666,
    743px 61px #666, 1071px 554px #666, 1466px 1403px #666, 784px 520px #666,
    1191px 1979px #666, 107px 876px #666, 77px 931px #666, 125px 359px #666,
    176px 830px #666, 1568px 1641px #666, 4px 1217px #666, 1219px 534px #666,
    69px 1234px #666, 653px 1956px #666, 1266px 454px #666, 1665px 115px #666,
    140px 1489px #666, 1396px 1140px #666, 1153px 1685px #666, 692px 1467px #666,
    681px 353px #666, 1024px 67px #666, 1481px 1259px #666, 1742px 107px #666,
    1723px 169px #666, 66px 495px #666, 1915px 1088px #666, 264px 400px #666,
    400px 1974px #666, 640px 888px #666, 362px 1024px #666, 1661px 16px #666,
    1460px 1256px #666, 1659px 103px #666, 677px 1097px #666, 1755px 1409px #666,
    632px 230px #666, 551px 1921px #666, 1742px 508px #666, 1431px 827px #666,
    795px 1495px #666, 938px 1130px #666, 1459px 1091px #666, 72px 462px #666,
    1275px 955px #666, 930px 12px #666, 244px 647px #666, 1983px 423px #666,
    1017px 1174px #666, 920px 1080px #666, 543px 1658px #666, 378px 1300px #666,
    868px 1024px #666, 430px 1096px #666, 1900px 1030px #666, 1481px 1574px #666,
    1980px 217px #666, 1315px 391px #666, 804px 1154px #666, 1176px 1533px #666,
    1732px 1292px #666, 566px 1398px #666, 567px 1136px #666, 1385px 1340px #666,
    555px 1024px #666, 155px 1750px #666, 755px 1724px #666, 641px 499px #666,
    134px 1915px #666, 179px 1895px #666, 221px 838px #666, 211px 835px #666,
    286px 614px #666, 584px 1639px #666, 1478px 1192px #666, 1432px 1930px #666,
    87px 860px #666, 962px 197px #666, 372px 1190px #666, 317px 1198px #666,
    1195px 1412px #666, 69px 441px #666, 1737px 986px #666, 1987px 1442px #666,
    1431px 244px #666, 1015px 1243px #666, 701px 1355px #666, 723px 284px #666,
    403px 534px #666, 798px 1752px #666, 1254px 1597px #666, 646px 1551px #666,
    1611px 1436px #666, 1985px 224px #666, 106px 75px #666, 1028px 969px #666,
    476px 848px #666, 1326px 1638px #666, 953px 1367px #666, 1279px 873px #666,
    313px 243px #666, 460px 1635px #666, 884px 1479px #666, 34px 1229px #666,
    1069px 1484px #666, 1536px 1743px #666, 331px 39px #666, 149px 239px #666,
    1256px 645px #666, 1200px 1891px #666, 699px 104px #666, 135px 785px #666,
    909px 720px #666, 1751px 298px #666, 343px 303px #666, 1844px 1260px #666,
    270px 103px #666, 110px 1063px #666, 1486px 1300px #666, 1410px 314px #666,
    527px 1473px #666, 525px 1356px #666, 1786px 64px #666, 1830px 1619px #666,
    1963px 1715px #666, 1580px 524px #666, 429px 1239px #666, 1224px 1027px #666,
    274px 652px #666, 655px 115px #666, 1313px 1381px #666, 1846px 625px #666,
    1742px 1590px #666, 787px 1314px #666, 683px 1273px #666, 1665px 515px #666,
    835px 1446px #666, 935px 848px #666, 886px 73px #666, 1277px 1580px #666,
    995px 1222px #666, 966px 398px #666, 606px 312px #666, 710px 1355px #666,
    832px 1959px #666, 815px 429px #666, 1px 1342px #666, 1788px 1628px #666,
    724px 1323px #666, 547px 123px #666, 648px 1935px #666, 1731px 257px #666,
    46px 1846px #666, 1829px 1387px #666, 1514px 598px #666, 894px 1919px #666,
    973px 1922px #666, 1334px 698px #666, 229px 854px #666, 424px 661px #666,
    1948px 899px #666, 1877px 1217px #666, 492px 1030px #666, 1832px 244px #666,
    1639px 1495px #666, 1837px 1492px #666, 1285px 1511px #666,
    1281px 1303px #666, 290px 1891px #666, 362px 1116px #666, 924px 876px #666,
    519px 968px #666, 1012px 476px #666, 17px 208px #666, 498px 760px #666,
    109px 1526px #666, 875px 1378px #666, 615px 1495px #666, 1384px 1689px #666,
    1011px 1029px #666, 975px 230px #666, 1558px 1214px #666, 758px 49px #666,
    557px 157px #666, 1892px 17px #666, 1870px 1853px #666, 890px 1848px #666,
    736px 1497px #666, 550px 375px #666, 531px 1230px #666, 1379px 167px #666,
    1192px 1406px #666, 1762px 373px #666, 505px 802px #666, 760px 542px #666,
    534px 1213px #666, 1640px 255px #666, 597px 1791px #666, 1080px 1043px #666,
    362px 1615px #666, 1415px 856px #666, 1479px 1507px #666, 1859px 1612px #666,
    342px 50px #666, 1792px 1690px #666, 661px 326px #666, 179px 1286px #666,
    1895px 1274px #666, 1570px 103px #666, 608px 1293px #666, 1546px 2px #666,
    1747px 861px #666, 698px 618px #666, 1390px 886px #666, 192px 1303px #666,
    912px 1686px #666, 1246px 813px #666, 1301px 1030px #666, 1124px 1577px #666,
    1437px 271px #666, 1347px 136px #666, 635px 1589px #666, 1597px 1792px #666,
    436px 1802px #666, 496px 1474px #666, 771px 1220px #666, 541px 399px #666,
    1486px 662px #666, 964px 70px #666, 1658px 1662px #666, 1097px 1692px #666,
    1608px 232px #666, 39px 195px #666, 750px 1473px #666, 499px 1725px #666,
    728px 1887px #666, 1247px 1304px #666, 1199px 1398px #666, 1728px 541px #666,
    374px 334px #666, 1716px 1246px #666, 51px 614px #666, 1052px 1846px #666,
    1587px 1027px #666, 1686px 1035px #666, 1445px 1584px #666,
    681px 1405px #666, 256px 1164px #666, 1997px 1509px #666, 1297px 718px #666,
    1446px 840px #666, 977px 1238px #666, 1410px 738px #666, 1293px 603px #666,
    442px 1478px #666, 318px 270px #666, 959px 1806px #666, 586px 1962px #666,
    4px 469px #666, 953px 472px #666, 370px 1864px #666, 785px 1839px #666,
    1551px 1951px #666, 206px 248px #666, 1752px 1614px #666, 800px 60px #666,
    848px 121px #666, 1863px 547px #666, 171px 484px #666, 760px 1953px #666,
    234px 403px #666, 483px 1218px #666, 23px 1139px #666, 1376px 1197px #666,
    1684px 970px #666, 826px 1972px #666, 334px 1690px #666, 1681px 988px #666,
    406px 1136px #666, 864px 557px #666, 297px 1517px #666, 1348px 1080px #666,
    1008px 257px #666, 560px 1931px #666, 28px 969px #666, 1458px 597px #666,
    172px 1329px #666, 298px 1236px #666, 656px 1010px #666, 1687px 407px #666,
    1601px 268px #666, 211px 315px #666, 1089px 1243px #666, 1129px 866px #666,
    326px 58px #666, 146px 1700px #666, 1335px 349px #666, 421px 171px #666,
    1854px 1676px #666, 587px 147px #666, 424px 1402px #666, 1861px 85px #666,
    727px 870px #666, 1969px 1092px #666, 662px 927px #666, 635px 1726px #666,
    1258px 1647px #666, 1531px 175px #666, 1613px 1585px #666,
    1677px 1423px #666, 1991px 407px #666, 398px 1405px #666, 281px 740px #666,
    774px 966px #666, 1287px 881px #666, 465px 981px #666, 1648px 772px #666,
    484px 1433px #666, 1016px 366px #666, 240px 1067px #666, 257px 413px #666,
    244px 296px #666, 347px 328px #666, 964px 1px #666, 1335px 115px #666,
    921px 649px #666, 739px 1291px #666, 408px 322px #666, 99px 1180px #666,
    482px 639px #666, 1925px 1846px #666, 50px 644px #666, 7px 956px #666,
    1581px 147px #666, 255px 1138px #666, 880px 1604px #666, 669px 1375px #666,
    715px 94px #666, 1374px 421px #666, 932px 1743px #666, 1179px 227px #666,
    1450px 1728px #666, 525px 1814px #666, 1299px 29px #666, 1708px 912px #666,
    1791px 1721px #666, 421px 1316px #666, 988px 1247px #666, 1104px 159px #666,
    89px 1562px #666, 1599px 1697px #666, 250px 1054px #666, 30px 1212px #666,
    1552px 1812px #666, 177px 125px #666, 944px 991px #666, 326px 361px #666,
    1458px 1721px #666, 950px 1117px #666, 679px 929px #666, 53px 1302px #666,
    943px 106px #666, 704px 1387px #666, 410px 1651px #666, 48px 1691px #666,
    151px 1085px #666, 266px 1968px #666, 1711px 24px #666, 579px 1177px #666,
    1259px 1221px #666, 1255px 1292px #666, 16px 58px #666, 1588px 365px #666,
    768px 918px #666, 2px 325px #666, 1470px 1982px #666, 1225px 847px #666,
    1348px 791px #666, 700px 913px #666, 1234px 368px #666, 142px 936px #666,
    1153px 717px #666, 476px 1115px #666, 578px 1450px #666, 578px 1174px #666,
    387px 1013px #666, 629px 215px #666, 360px 214px #666, 642px 1944px #666,
    51px 1754px #666, 1609px 318px #666, 852px 1201px #666, 160px 1113px #666,
    1078px 1410px #666, 1440px 1885px #666, 623px 1411px #666, 697px 218px #666,
    1060px 1263px #666, 1699px 852px #666, 695px 289px #666, 325px 1667px #666,
    1654px 982px #666, 138px 1655px #666, 787px 1818px #666, 221px 927px #666,
    1599px 507px #666, 563px 55px #666, 279px 743px #666, 1983px 762px #666,
    1008px 1079px #666, 332px 1079px #666, 451px 984px #666, 1733px 1585px #666,
    536px 794px #666, 770px 1476px #666, 702px 1028px #666, 1616px 1263px #666,
    11px 93px #666, 1459px 1036px #666, 1805px 596px #666, 1200px 1537px #666,
    621px 1195px #666, 1925px 110px #666, 144px 942px #666, 79px 909px #666,
    1184px 471px #666, 436px 1200px #666, 681px 280px #666, 1462px 42px #666,
    1251px 359px #666, 827px 1495px #666, 340px 238px #666, 1673px 1291px #666,
    1402px 1519px #666, 1313px 295px #666, 174px 1515px #666, 1614px 505px #666,
    1806px 1661px #666, 1874px 1941px #666, 649px 1051px #666,
    1979px 1504px #666, 38px 1810px #666, 1223px 1197px #666, 1463px 1234px #666,
    618px 1167px #666, 60px 731px #666, 9px 1161px #666, 1384px 1967px #666,
    637px 1327px #666, 149px 1236px #666, 709px 1680px #666, 320px 570px #666,
    1910px 920px #666, 529px 316px #666, 972px 936px #666, 1994px 696px #666,
    827px 43px #666, 1477px 1515px #666, 1836px 1497px #666, 1716px 659px #666,
    833px 323px #666, 395px 146px #666, 1983px 259px #666, 1389px 261px #666,
    327px 1074px #666, 1341px 1855px #666, 1902px 1311px #666,
    1272px 1297px #666, 457px 1569px #666, 1378px 1732px #666, 252px 1575px #666,
    1230px 1052px #666, 1695px 354px #666, 39px 1009px #666, 1578px 717px #666,
    1263px 1823px #666, 918px 1195px #666, 1659px 381px #666, 1634px 1288px #666,
    8px 640px #666, 1025px 1570px #666, 895px 159px #666, 393px 1770px #666,
    1756px 921px #666, 1584px 452px #666, 916px 254px #666, 849px 1267px #666,
    439px 1150px #666, 1552px 58px #666, 1317px 1666px #666, 1878px 1216px #666,
    653px 1949px #666, 1858px 1194px #666, 559px 1756px #666, 239px 1806px #666,
    1721px 1511px #666, 1303px 494px #666, 853px 314px #666, 221px 196px #666,
    1910px 412px #666, 598px 431px #666, 723px 864px #666, 87px 1212px #666,
    1696px 342px #666, 1545px 933px #666, 1525px 1510px #666, 1639px 1177px #666,
    1447px 214px #666, 17px 1010px #666, 1850px 1363px #666, 66px 1274px #666,
    697px 1536px #666, 1418px 1978px #666, 741px 915px #666, 1936px 1558px #666,
    1961px 1048px #666, 1931px 1240px #666, 202px 1474px #666,
    1985px 1724px #666, 462px 1231px #666, 1171px 469px #666, 1860px 373px #666,
    896px 1676px #666, 1117px 730px #666, 221px 381px #666, 681px 807px #666,
    38px 723px #666, 638px 612px #666, 1748px 1144px #666, 1464px 1102px #666,
    1964px 1662px #666, 1364px 1938px #666, 425px 1036px #666, 790px 169px #666,
    63px 1016px #666, 1880px 724px #666, 11px 94px #666, 412px 1760px #666,
    1553px 984px #666, 619px 450px #666, 409px 1730px #666, 327px 1835px #666,
    200px 1970px #666, 608px 910px #666, 1383px 1965px #666, 939px 1666px #666,
    1778px 451px #666, 1240px 174px #666, 639px 1789px #666, 820px 848px #666,
    80px 769px #666, 1917px 1171px #666, 134px 616px #666, 538px 190px #666,
    1990px 738px #666, 984px 976px #666, 1191px 237px #666, 836px 293px #666,
    386px 243px #666, 462px 197px #666, 1955px 430px #666, 28px 381px #666,
    516px 55px #666, 478px 320px #666, 1378px 1460px #666, 1842px 1528px #666,
    897px 952px #666, 1514px 348px #666, 1748px 1515px #666, 1750px 1186px #666,
    94px 1718px #666, 1351px 1159px #666, 12px 316px #666, 1116px 1522px #666,
    1387px 884px #666, 257px 1730px #666, 940px 1690px #666, 425px 1045px #666,
    1710px 1089px #666, 1507px 216px #666, 1693px 753px #666, 94px 1864px #666;
  animation: animStar 200s linear infinite;
  z-index: -9999;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1314px #666, 525px 1141px #666, 327px 522px #666,
    271px 109px #666, 437px 1565px #666, 103px 852px #666, 1374px 1952px #666,
    931px 1743px #666, 1405px 1949px #666, 445px 814px #666, 1455px 1148px #666,
    1879px 1713px #666, 1670px 1917px #666, 315px 213px #666, 97px 1319px #666,
    1639px 1688px #666, 367px 9px #666, 1034px 564px #666, 1546px 219px #666,
    948px 516px #666, 487px 13px #666, 415px 335px #666, 1879px 1750px #666,
    1685px 701px #666, 1715px 747px #666, 550px 1672px #666, 743px 388px #666,
    1988px 1634px #666, 791px 973px #666, 1596px 1952px #666, 432px 1599px #666,
    415px 1397px #666, 261px 798px #666, 1941px 708px #666, 1812px 1881px #666,
    804px 1254px #666, 1343px 1103px #666, 1662px 1630px #666,
    1446px 1760px #666, 93px 1378px #666, 901px 324px #666, 1587px 1549px #666,
    998px 242px #666, 1442px 525px #666, 1491px 1839px #666, 802px 1277px #666,
    1598px 137px #666, 877px 1841px #666, 66px 857px #666, 772px 779px #666,
    990px 1921px #666, 668px 1939px #666, 994px 521px #666, 1194px 548px #666,
    498px 1505px #666, 835px 1934px #666, 443px 1063px #666, 66px 1543px #666,
    1796px 167px #666, 264px 1967px #666, 1357px 540px #666, 1456px 908px #666,
    1508px 283px #666, 1186px 1577px #666, 1956px 1907px #666, 471px 266px #666,
    949px 1889px #666, 1737px 848px #666, 178px 301px #666, 1703px 1208px #666,
    1277px 1200px #666, 29px 199px #666, 573px 1468px #666, 1366px 1916px #666,
    883px 468px #666, 1757px 357px #666, 650px 1055px #666, 988px 1982px #666,
    521px 1082px #666, 173px 1745px #666, 96px 1992px #666, 615px 673px #666,
    683px 1042px #666, 1163px 1716px #666, 398px 894px #666, 1652px 1360px #666,
    1932px 491px #666, 1550px 1368px #666, 1136px 739px #666, 1302px 672px #666,
    1781px 796px #666, 853px 309px #666, 589px 1922px #666, 612px 615px #666,
    1635px 277px #666, 762px 1897px #666, 313px 1886px #666, 1377px 374px #666,
    445px 1018px #666, 73px 1728px #666, 798px 1898px #666, 1713px 1784px #666,
    1278px 1274px #666, 681px 1925px #666, 1959px 466px #666, 440px 229px #666,
    81px 1971px #666, 610px 142px #666, 1184px 979px #666, 515px 98px #666,
    1034px 625px #666, 1606px 405px #666, 1754px 1756px #666, 90px 1004px #666,
    1815px 492px #666, 691px 188px #666, 912px 1808px #666, 810px 453px #666,
    743px 61px #666, 1071px 554px #666, 1466px 1403px #666, 784px 520px #666,
    1191px 1979px #666, 107px 876px #666, 77px 931px #666, 125px 359px #666,
    176px 830px #666, 1568px 1641px #666, 4px 1217px #666, 1219px 534px #666,
    69px 1234px #666, 653px 1956px #666, 1266px 454px #666, 1665px 115px #666,
    140px 1489px #666, 1396px 1140px #666, 1153px 1685px #666, 692px 1467px #666,
    681px 353px #666, 1024px 67px #666, 1481px 1259px #666, 1742px 107px #666,
    1723px 169px #666, 66px 495px #666, 1915px 1088px #666, 264px 400px #666,
    400px 1974px #666, 640px 888px #666, 362px 1024px #666, 1661px 16px #666,
    1460px 1256px #666, 1659px 103px #666, 677px 1097px #666, 1755px 1409px #666,
    632px 230px #666, 551px 1921px #666, 1742px 508px #666, 1431px 827px #666,
    795px 1495px #666, 938px 1130px #666, 1459px 1091px #666, 72px 462px #666,
    1275px 955px #666, 930px 12px #666, 244px 647px #666, 1983px 423px #666,
    1017px 1174px #666, 920px 1080px #666, 543px 1658px #666, 378px 1300px #666,
    868px 1024px #666, 430px 1096px #666, 1900px 1030px #666, 1481px 1574px #666,
    1980px 217px #666, 1315px 391px #666, 804px 1154px #666, 1176px 1533px #666,
    1732px 1292px #666, 566px 1398px #666, 567px 1136px #666, 1385px 1340px #666,
    555px 1024px #666, 155px 1750px #666, 755px 1724px #666, 641px 499px #666,
    134px 1915px #666, 179px 1895px #666, 221px 838px #666, 211px 835px #666,
    286px 614px #666, 584px 1639px #666, 1478px 1192px #666, 1432px 1930px #666,
    87px 860px #666, 962px 197px #666, 372px 1190px #666, 317px 1198px #666,
    1195px 1412px #666, 69px 441px #666, 1737px 986px #666, 1987px 1442px #666,
    1431px 244px #666, 1015px 1243px #666, 701px 1355px #666, 723px 284px #666,
    403px 534px #666, 798px 1752px #666, 1254px 1597px #666, 646px 1551px #666,
    1611px 1436px #666, 1985px 224px #666, 106px 75px #666, 1028px 969px #666,
    476px 848px #666, 1326px 1638px #666, 953px 1367px #666, 1279px 873px #666,
    313px 243px #666, 460px 1635px #666, 884px 1479px #666, 34px 1229px #666,
    1069px 1484px #666, 1536px 1743px #666, 331px 39px #666, 149px 239px #666,
    1256px 645px #666, 1200px 1891px #666, 699px 104px #666, 135px 785px #666,
    909px 720px #666, 1751px 298px #666, 343px 303px #666, 1844px 1260px #666,
    270px 103px #666, 110px 1063px #666, 1486px 1300px #666, 1410px 314px #666,
    527px 1473px #666, 525px 1356px #666, 1786px 64px #666, 1830px 1619px #666,
    1963px 1715px #666, 1580px 524px #666, 429px 1239px #666, 1224px 1027px #666,
    274px 652px #666, 655px 115px #666, 1313px 1381px #666, 1846px 625px #666,
    1742px 1590px #666, 787px 1314px #666, 683px 1273px #666, 1665px 515px #666,
    835px 1446px #666, 935px 848px #666, 886px 73px #666, 1277px 1580px #666,
    995px 1222px #666, 966px 398px #666, 606px 312px #666, 710px 1355px #666,
    832px 1959px #666, 815px 429px #666, 1px 1342px #666, 1788px 1628px #666,
    724px 1323px #666, 547px 123px #666, 648px 1935px #666, 1731px 257px #666,
    46px 1846px #666, 1829px 1387px #666, 1514px 598px #666, 894px 1919px #666,
    973px 1922px #666, 1334px 698px #666, 229px 854px #666, 424px 661px #666,
    1948px 899px #666, 1877px 1217px #666, 492px 1030px #666, 1832px 244px #666,
    1639px 1495px #666, 1837px 1492px #666, 1285px 1511px #666,
    1281px 1303px #666, 290px 1891px #666, 362px 1116px #666, 924px 876px #666,
    519px 968px #666, 1012px 476px #666, 17px 208px #666, 498px 760px #666,
    109px 1526px #666, 875px 1378px #666, 615px 1495px #666, 1384px 1689px #666,
    1011px 1029px #666, 975px 230px #666, 1558px 1214px #666, 758px 49px #666,
    557px 157px #666, 1892px 17px #666, 1870px 1853px #666, 890px 1848px #666,
    736px 1497px #666, 550px 375px #666, 531px 1230px #666, 1379px 167px #666,
    1192px 1406px #666, 1762px 373px #666, 505px 802px #666, 760px 542px #666,
    534px 1213px #666, 1640px 255px #666, 597px 1791px #666, 1080px 1043px #666,
    362px 1615px #666, 1415px 856px #666, 1479px 1507px #666, 1859px 1612px #666,
    342px 50px #666, 1792px 1690px #666, 661px 326px #666, 179px 1286px #666,
    1895px 1274px #666, 1570px 103px #666, 608px 1293px #666, 1546px 2px #666,
    1747px 861px #666, 698px 618px #666, 1390px 886px #666, 192px 1303px #666,
    912px 1686px #666, 1246px 813px #666, 1301px 1030px #666, 1124px 1577px #666,
    1437px 271px #666, 1347px 136px #666, 635px 1589px #666, 1597px 1792px #666,
    436px 1802px #666, 496px 1474px #666, 771px 1220px #666, 541px 399px #666,
    1486px 662px #666, 964px 70px #666, 1658px 1662px #666, 1097px 1692px #666,
    1608px 232px #666, 39px 195px #666, 750px 1473px #666, 499px 1725px #666,
    728px 1887px #666, 1247px 1304px #666, 1199px 1398px #666, 1728px 541px #666,
    374px 334px #666, 1716px 1246px #666, 51px 614px #666, 1052px 1846px #666,
    1587px 1027px #666, 1686px 1035px #666, 1445px 1584px #666,
    681px 1405px #666, 256px 1164px #666, 1997px 1509px #666, 1297px 718px #666,
    1446px 840px #666, 977px 1238px #666, 1410px 738px #666, 1293px 603px #666,
    442px 1478px #666, 318px 270px #666, 959px 1806px #666, 586px 1962px #666,
    4px 469px #666, 953px 472px #666, 370px 1864px #666, 785px 1839px #666,
    1551px 1951px #666, 206px 248px #666, 1752px 1614px #666, 800px 60px #666,
    848px 121px #666, 1863px 547px #666, 171px 484px #666, 760px 1953px #666,
    234px 403px #666, 483px 1218px #666, 23px 1139px #666, 1376px 1197px #666,
    1684px 970px #666, 826px 1972px #666, 334px 1690px #666, 1681px 988px #666,
    406px 1136px #666, 864px 557px #666, 297px 1517px #666, 1348px 1080px #666,
    1008px 257px #666, 560px 1931px #666, 28px 969px #666, 1458px 597px #666,
    172px 1329px #666, 298px 1236px #666, 656px 1010px #666, 1687px 407px #666,
    1601px 268px #666, 211px 315px #666, 1089px 1243px #666, 1129px 866px #666,
    326px 58px #666, 146px 1700px #666, 1335px 349px #666, 421px 171px #666,
    1854px 1676px #666, 587px 147px #666, 424px 1402px #666, 1861px 85px #666,
    727px 870px #666, 1969px 1092px #666, 662px 927px #666, 635px 1726px #666,
    1258px 1647px #666, 1531px 175px #666, 1613px 1585px #666,
    1677px 1423px #666, 1991px 407px #666, 398px 1405px #666, 281px 740px #666,
    774px 966px #666, 1287px 881px #666, 465px 981px #666, 1648px 772px #666,
    484px 1433px #666, 1016px 366px #666, 240px 1067px #666, 257px 413px #666,
    244px 296px #666, 347px 328px #666, 964px 1px #666, 1335px 115px #666,
    921px 649px #666, 739px 1291px #666, 408px 322px #666, 99px 1180px #666,
    482px 639px #666, 1925px 1846px #666, 50px 644px #666, 7px 956px #666,
    1581px 147px #666, 255px 1138px #666, 880px 1604px #666, 669px 1375px #666,
    715px 94px #666, 1374px 421px #666, 932px 1743px #666, 1179px 227px #666,
    1450px 1728px #666, 525px 1814px #666, 1299px 29px #666, 1708px 912px #666,
    1791px 1721px #666, 421px 1316px #666, 988px 1247px #666, 1104px 159px #666,
    89px 1562px #666, 1599px 1697px #666, 250px 1054px #666, 30px 1212px #666,
    1552px 1812px #666, 177px 125px #666, 944px 991px #666, 326px 361px #666,
    1458px 1721px #666, 950px 1117px #666, 679px 929px #666, 53px 1302px #666,
    943px 106px #666, 704px 1387px #666, 410px 1651px #666, 48px 1691px #666,
    151px 1085px #666, 266px 1968px #666, 1711px 24px #666, 579px 1177px #666,
    1259px 1221px #666, 1255px 1292px #666, 16px 58px #666, 1588px 365px #666,
    768px 918px #666, 2px 325px #666, 1470px 1982px #666, 1225px 847px #666,
    1348px 791px #666, 700px 913px #666, 1234px 368px #666, 142px 936px #666,
    1153px 717px #666, 476px 1115px #666, 578px 1450px #666, 578px 1174px #666,
    387px 1013px #666, 629px 215px #666, 360px 214px #666, 642px 1944px #666,
    51px 1754px #666, 1609px 318px #666, 852px 1201px #666, 160px 1113px #666,
    1078px 1410px #666, 1440px 1885px #666, 623px 1411px #666, 697px 218px #666,
    1060px 1263px #666, 1699px 852px #666, 695px 289px #666, 325px 1667px #666,
    1654px 982px #666, 138px 1655px #666, 787px 1818px #666, 221px 927px #666,
    1599px 507px #666, 563px 55px #666, 279px 743px #666, 1983px 762px #666,
    1008px 1079px #666, 332px 1079px #666, 451px 984px #666, 1733px 1585px #666,
    536px 794px #666, 770px 1476px #666, 702px 1028px #666, 1616px 1263px #666,
    11px 93px #666, 1459px 1036px #666, 1805px 596px #666, 1200px 1537px #666,
    621px 1195px #666, 1925px 110px #666, 144px 942px #666, 79px 909px #666,
    1184px 471px #666, 436px 1200px #666, 681px 280px #666, 1462px 42px #666,
    1251px 359px #666, 827px 1495px #666, 340px 238px #666, 1673px 1291px #666,
    1402px 1519px #666, 1313px 295px #666, 174px 1515px #666, 1614px 505px #666,
    1806px 1661px #666, 1874px 1941px #666, 649px 1051px #666,
    1979px 1504px #666, 38px 1810px #666, 1223px 1197px #666, 1463px 1234px #666,
    618px 1167px #666, 60px 731px #666, 9px 1161px #666, 1384px 1967px #666,
    637px 1327px #666, 149px 1236px #666, 709px 1680px #666, 320px 570px #666,
    1910px 920px #666, 529px 316px #666, 972px 936px #666, 1994px 696px #666,
    827px 43px #666, 1477px 1515px #666, 1836px 1497px #666, 1716px 659px #666,
    833px 323px #666, 395px 146px #666, 1983px 259px #666, 1389px 261px #666,
    327px 1074px #666, 1341px 1855px #666, 1902px 1311px #666,
    1272px 1297px #666, 457px 1569px #666, 1378px 1732px #666, 252px 1575px #666,
    1230px 1052px #666, 1695px 354px #666, 39px 1009px #666, 1578px 717px #666,
    1263px 1823px #666, 918px 1195px #666, 1659px 381px #666, 1634px 1288px #666,
    8px 640px #666, 1025px 1570px #666, 895px 159px #666, 393px 1770px #666,
    1756px 921px #666, 1584px 452px #666, 916px 254px #666, 849px 1267px #666,
    439px 1150px #666, 1552px 58px #666, 1317px 1666px #666, 1878px 1216px #666,
    653px 1949px #666, 1858px 1194px #666, 559px 1756px #666, 239px 1806px #666,
    1721px 1511px #666, 1303px 494px #666, 853px 314px #666, 221px 196px #666,
    1910px 412px #666, 598px 431px #666, 723px 864px #666, 87px 1212px #666,
    1696px 342px #666, 1545px 933px #666, 1525px 1510px #666, 1639px 1177px #666,
    1447px 214px #666, 17px 1010px #666, 1850px 1363px #666, 66px 1274px #666,
    697px 1536px #666, 1418px 1978px #666, 741px 915px #666, 1936px 1558px #666,
    1961px 1048px #666, 1931px 1240px #666, 202px 1474px #666,
    1985px 1724px #666, 462px 1231px #666, 1171px 469px #666, 1860px 373px #666,
    896px 1676px #666, 1117px 730px #666, 221px 381px #666, 681px 807px #666,
    38px 723px #666, 638px 612px #666, 1748px 1144px #666, 1464px 1102px #666,
    1964px 1662px #666, 1364px 1938px #666, 425px 1036px #666, 790px 169px #666,
    63px 1016px #666, 1880px 724px #666, 11px 94px #666, 412px 1760px #666,
    1553px 984px #666, 619px 450px #666, 409px 1730px #666, 327px 1835px #666,
    200px 1970px #666, 608px 910px #666, 1383px 1965px #666, 939px 1666px #666,
    1778px 451px #666, 1240px 174px #666, 639px 1789px #666, 820px 848px #666,
    80px 769px #666, 1917px 1171px #666, 134px 616px #666, 538px 190px #666,
    1990px 738px #666, 984px 976px #666, 1191px 237px #666, 836px 293px #666,
    386px 243px #666, 462px 197px #666, 1955px 430px #666, 28px 381px #666,
    516px 55px #666, 478px 320px #666, 1378px 1460px #666, 1842px 1528px #666,
    897px 952px #666, 1514px 348px #666, 1748px 1515px #666, 1750px 1186px #666,
    94px 1718px #666, 1351px 1159px #666, 12px 316px #666, 1116px 1522px #666,
    1387px 884px #666, 257px 1730px #666, 940px 1690px #666, 425px 1045px #666,
    1710px 1089px #666, 1507px 216px #666, 1693px 753px #666, 94px 1864px #666;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 919px 1696px #666, 603px 158px #666, 442px 1896px #666,
    1752px 504px #666, 1726px 1023px #666, 1022px 1203px #666,
    1842px 1522px #666, 1726px 304px #666, 412px 343px #666, 306px 15px #666,
    939px 781px #666, 395px 584px #666, 26px 706px #666, 357px 615px #666,
    36px 1488px #666, 194px 317px #666, 839px 266px #666, 1662px 1110px #666,
    826px 1857px #666, 676px 208px #666, 965px 274px #666, 882px 929px #666,
    1973px 1502px #666, 1961px 988px #666, 1508px 1890px #666,
    1092px 1058px #666, 925px 1604px #666, 1977px 601px #666, 1680px 1760px #666,
    1652px 506px #666, 1150px 826px #666, 1504px 257px #666, 242px 1336px #666,
    1799px 615px #666, 628px 1073px #666, 700px 270px #666, 1661px 1660px #666,
    1238px 1938px #666, 1626px 1778px #666, 30px 939px #666, 473px 1000px #666,
    1027px 1405px #666, 1603px 1170px #666, 722px 1430px #666, 65px 1946px #666,
    1619px 495px #666, 1374px 1193px #666, 808px 1818px #666, 1445px 1299px #666,
    196px 649px #666, 1495px 1515px #666, 1685px 1758px #666, 1423px 1396px #666,
    387px 1498px #666, 160px 416px #666, 1777px 1480px #666, 1841px 248px #666,
    1464px 368px #666, 739px 111px #666, 1850px 1454px #666, 1666px 1336px #666,
    656px 1135px #666, 48px 673px #666, 869px 1065px #666, 780px 1707px #666,
    955px 1878px #666, 1362px 1878px #666, 1123px 1031px #666,
    1450px 1660px #666, 1525px 1417px #666, 1347px 649px #666, 440px 377px #666,
    667px 9px #666, 1207px 1599px #666, 127px 162px #666, 1712px 1437px #666,
    726px 733px #666, 1851px 1486px #666, 888px 793px #666, 662px 728px #666,
    422px 105px #666, 882px 1267px #666, 769px 1243px #666, 324px 173px #666,
    1521px 1468px #666, 1384px 408px #666, 1300px 590px #666, 404px 1838px #666,
    1262px 217px #666, 1850px 1619px #666, 357px 767px #666, 718px 860px #666,
    1327px 1747px #666, 1544px 828px #666, 1036px 1573px #666,
    1862px 1753px #666, 1723px 1161px #666, 932px 780px #666, 371px 1573px #666,
    1030px 1474px #666, 77px 435px #666, 981px 1671px #666, 1682px 145px #666,
    248px 1169px #666, 1624px 579px #666, 1795px 1522px #666, 1979px 972px #666,
    1685px 594px #666, 1292px 212px #666, 859px 1373px #666, 768px 1340px #666,
    947px 716px #666, 1160px 56px #666, 1145px 1078px #666, 526px 1791px #666,
    837px 523px #666, 646px 1237px #666, 1091px 525px #666, 309px 295px #666,
    605px 677px #666, 568px 1744px #666, 1825px 1066px #666, 1489px 263px #666,
    1846px 667px #666, 1412px 1320px #666, 1465px 61px #666, 1604px 306px #666,
    76px 785px #666, 1540px 1000px #666, 583px 1841px #666, 1901px 585px #666,
    484px 559px #666, 1970px 1631px #666, 868px 122px #666, 600px 438px #666,
    649px 1548px #666, 1134px 1213px #666, 1304px 924px #666, 703px 1071px #666,
    808px 275px #666, 1877px 582px #666, 1373px 1085px #666, 1110px 412px #666,
    929px 1658px #666, 1802px 298px #666, 948px 916px #666, 894px 1194px #666,
    1851px 1054px #666, 832px 585px #666, 1481px 1159px #666, 364px 929px #666,
    1067px 1952px #666, 1288px 1701px #666, 1739px 309px #666, 123px 735px #666,
    1900px 376px #666, 1736px 1419px #666, 1530px 1597px #666,
    1540px 1542px #666, 1848px 1445px #666, 1366px 899px #666, 705px 618px #666,
    222px 1261px #666, 168px 763px #666, 1023px 732px #666, 1505px 1743px #666,
    1190px 116px #666, 1476px 1563px #666, 813px 694px #666, 1839px 852px #666,
    1044px 1018px #666, 750px 1491px #666, 1568px 1784px #666, 447px 1262px #666,
    288px 670px #666, 1337px 1862px #666, 1118px 796px #666, 1180px 517px #666,
    1100px 557px #666, 51px 1701px #666, 1903px 1588px #666, 873px 883px #666,
    867px 801px #666, 1516px 443px #666, 1207px 406px #666, 1907px 1586px #666,
    474px 904px #666, 1011px 1716px #666, 1609px 598px #666, 244px 609px #666,
    1288px 285px #666, 437px 1646px #666, 773px 281px #666, 1029px 724px #666,
    539px 587px #666, 1152px 1691px #666, 1075px 313px #666, 1949px 205px #666,
    1991px 748px #666, 873px 988px #666;
  animation: animStar 400s linear infinite;
  z-index: -9999;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 919px 1696px #666, 603px 158px #666, 442px 1896px #666,
    1752px 504px #666, 1726px 1023px #666, 1022px 1203px #666,
    1842px 1522px #666, 1726px 304px #666, 412px 343px #666, 306px 15px #666,
    939px 781px #666, 395px 584px #666, 26px 706px #666, 357px 615px #666,
    36px 1488px #666, 194px 317px #666, 839px 266px #666, 1662px 1110px #666,
    826px 1857px #666, 676px 208px #666, 965px 274px #666, 882px 929px #666,
    1973px 1502px #666, 1961px 988px #666, 1508px 1890px #666,
    1092px 1058px #666, 925px 1604px #666, 1977px 601px #666, 1680px 1760px #666,
    1652px 506px #666, 1150px 826px #666, 1504px 257px #666, 242px 1336px #666,
    1799px 615px #666, 628px 1073px #666, 700px 270px #666, 1661px 1660px #666,
    1238px 1938px #666, 1626px 1778px #666, 30px 939px #666, 473px 1000px #666,
    1027px 1405px #666, 1603px 1170px #666, 722px 1430px #666, 65px 1946px #666,
    1619px 495px #666, 1374px 1193px #666, 808px 1818px #666, 1445px 1299px #666,
    196px 649px #666, 1495px 1515px #666, 1685px 1758px #666, 1423px 1396px #666,
    387px 1498px #666, 160px 416px #666, 1777px 1480px #666, 1841px 248px #666,
    1464px 368px #666, 739px 111px #666, 1850px 1454px #666, 1666px 1336px #666,
    656px 1135px #666, 48px 673px #666, 869px 1065px #666, 780px 1707px #666,
    955px 1878px #666, 1362px 1878px #666, 1123px 1031px #666,
    1450px 1660px #666, 1525px 1417px #666, 1347px 649px #666, 440px 377px #666,
    667px 9px #666, 1207px 1599px #666, 127px 162px #666, 1712px 1437px #666,
    726px 733px #666, 1851px 1486px #666, 888px 793px #666, 662px 728px #666,
    422px 105px #666, 882px 1267px #666, 769px 1243px #666, 324px 173px #666,
    1521px 1468px #666, 1384px 408px #666, 1300px 590px #666, 404px 1838px #666,
    1262px 217px #666, 1850px 1619px #666, 357px 767px #666, 718px 860px #666,
    1327px 1747px #666, 1544px 828px #666, 1036px 1573px #666,
    1862px 1753px #666, 1723px 1161px #666, 932px 780px #666, 371px 1573px #666,
    1030px 1474px #666, 77px 435px #666, 981px 1671px #666, 1682px 145px #666,
    248px 1169px #666, 1624px 579px #666, 1795px 1522px #666, 1979px 972px #666,
    1685px 594px #666, 1292px 212px #666, 859px 1373px #666, 768px 1340px #666,
    947px 716px #666, 1160px 56px #666, 1145px 1078px #666, 526px 1791px #666,
    837px 523px #666, 646px 1237px #666, 1091px 525px #666, 309px 295px #666,
    605px 677px #666, 568px 1744px #666, 1825px 1066px #666, 1489px 263px #666,
    1846px 667px #666, 1412px 1320px #666, 1465px 61px #666, 1604px 306px #666,
    76px 785px #666, 1540px 1000px #666, 583px 1841px #666, 1901px 585px #666,
    484px 559px #666, 1970px 1631px #666, 868px 122px #666, 600px 438px #666,
    649px 1548px #666, 1134px 1213px #666, 1304px 924px #666, 703px 1071px #666,
    808px 275px #666, 1877px 582px #666, 1373px 1085px #666, 1110px 412px #666,
    929px 1658px #666, 1802px 298px #666, 948px 916px #666, 894px 1194px #666,
    1851px 1054px #666, 832px 585px #666, 1481px 1159px #666, 364px 929px #666,
    1067px 1952px #666, 1288px 1701px #666, 1739px 309px #666, 123px 735px #666,
    1900px 376px #666, 1736px 1419px #666, 1530px 1597px #666,
    1540px 1542px #666, 1848px 1445px #666, 1366px 899px #666, 705px 618px #666,
    222px 1261px #666, 168px 763px #666, 1023px 732px #666, 1505px 1743px #666,
    1190px 116px #666, 1476px 1563px #666, 813px 694px #666, 1839px 852px #666,
    1044px 1018px #666, 750px 1491px #666, 1568px 1784px #666, 447px 1262px #666,
    288px 670px #666, 1337px 1862px #666, 1118px 796px #666, 1180px 517px #666,
    1100px 557px #666, 51px 1701px #666, 1903px 1588px #666, 873px 883px #666,
    867px 801px #666, 1516px 443px #666, 1207px 406px #666, 1907px 1586px #666,
    474px 904px #666, 1011px 1716px #666, 1609px 598px #666, 244px 609px #666,
    1288px 285px #666, 437px 1646px #666, 773px 281px #666, 1029px 724px #666,
    539px 587px #666, 1152px 1691px #666, 1075px 313px #666, 1949px 205px #666,
    1991px 748px #666, 873px 988px #666;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 233px 1147px #666, 1293px 1094px #666, 831px 1065px #666,
    343px 129px #666, 1087px 1447px #666, 573px 1298px #666, 589px 442px #666,
    525px 782px #666, 1589px 1728px #666, 1729px 351px #666, 1109px 228px #666,
    1628px 176px #666, 1872px 1109px #666, 1255px 541px #666, 1575px 1939px #666,
    1376px 196px #666, 749px 257px #666, 766px 74px #666, 288px 39px #666,
    1020px 1334px #666, 262px 439px #666, 770px 508px #666, 96px 654px #666,
    491px 1212px #666, 366px 232px #666, 1082px 717px #666, 623px 1550px #666,
    857px 281px #666, 685px 1839px #666, 924px 1667px #666, 1647px 821px #666,
    679px 1557px #666, 1708px 36px #666, 455px 315px #666, 1315px 910px #666,
    714px 1686px #666, 1732px 1244px #666, 1802px 384px #666, 1753px 251px #666,
    1110px 1736px #666, 724px 623px #666, 415px 747px #666, 1959px 1916px #666,
    1615px 1807px #666, 352px 1447px #666, 434px 1373px #666, 1899px 1404px #666,
    497px 334px #666, 444px 1424px #666, 1257px 834px #666, 216px 1074px #666,
    748px 361px #666, 338px 874px #666, 673px 524px #666, 1229px 870px #666,
    898px 429px #666, 1871px 1771px #666, 899px 1153px #666, 570px 921px #666,
    821px 1749px #666, 784px 1445px #666, 948px 1548px #666, 627px 294px #666,
    1353px 1567px #666, 895px 1236px #666, 1183px 1379px #666,
    1981px 1107px #666, 412px 1202px #666, 107px 1218px #666, 1866px 869px #666,
    28px 1928px #666, 999px 56px #666, 995px 1321px #666, 710px 1696px #666,
    758px 569px #666, 393px 1279px #666, 833px 1119px #666, 276px 1141px #666,
    630px 66px #666, 194px 631px #666, 1002px 1606px #666, 462px 1949px #666,
    1818px 144px #666, 1562px 1763px #666, 1193px 679px #666, 1917px 266px #666,
    1445px 1973px #666, 1181px 947px #666, 885px 677px #666, 924px 1417px #666,
    414px 1783px #666, 1821px 1944px #666, 73px 303px #666, 1583px 408px #666,
    950px 165px #666, 125px 1397px #666, 35px 672px #666, 20px 437px #666,
    1931px 1723px #666, 1716px 754px #666;
  animation: animStar 600s linear infinite;
  z-index: -9999;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 233px 1147px #666, 1293px 1094px #666, 831px 1065px #666,
    343px 129px #666, 1087px 1447px #666, 573px 1298px #666, 589px 442px #666,
    525px 782px #666, 1589px 1728px #666, 1729px 351px #666, 1109px 228px #666,
    1628px 176px #666, 1872px 1109px #666, 1255px 541px #666, 1575px 1939px #666,
    1376px 196px #666, 749px 257px #666, 766px 74px #666, 288px 39px #666,
    1020px 1334px #666, 262px 439px #666, 770px 508px #666, 96px 654px #666,
    491px 1212px #666, 366px 232px #666, 1082px 717px #666, 623px 1550px #666,
    857px 281px #666, 685px 1839px #666, 924px 1667px #666, 1647px 821px #666,
    679px 1557px #666, 1708px 36px #666, 455px 315px #666, 1315px 910px #666,
    714px 1686px #666, 1732px 1244px #666, 1802px 384px #666, 1753px 251px #666,
    1110px 1736px #666, 724px 623px #666, 415px 747px #666, 1959px 1916px #666,
    1615px 1807px #666, 352px 1447px #666, 434px 1373px #666, 1899px 1404px #666,
    497px 334px #666, 444px 1424px #666, 1257px 834px #666, 216px 1074px #666,
    748px 361px #666, 338px 874px #666, 673px 524px #666, 1229px 870px #666,
    898px 429px #666, 1871px 1771px #666, 899px 1153px #666, 570px 921px #666,
    821px 1749px #666, 784px 1445px #666, 948px 1548px #666, 627px 294px #666,
    1353px 1567px #666, 895px 1236px #666, 1183px 1379px #666,
    1981px 1107px #666, 412px 1202px #666, 107px 1218px #666, 1866px 869px #666,
    28px 1928px #666, 999px 56px #666, 995px 1321px #666, 710px 1696px #666,
    758px 569px #666, 393px 1279px #666, 833px 1119px #666, 276px 1141px #666,
    630px 66px #666, 194px 631px #666, 1002px 1606px #666, 462px 1949px #666,
    1818px 144px #666, 1562px 1763px #666, 1193px 679px #666, 1917px 266px #666,
    1445px 1973px #666, 1181px 947px #666, 885px 677px #666, 924px 1417px #666,
    414px 1783px #666, 1821px 1944px #666, 73px 303px #666, 1583px 408px #666,
    950px 165px #666, 125px 1397px #666, 35px 672px #666, 20px 437px #666,
    1931px 1723px #666, 1716px 754px #666;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
