/* starfield adapted from https://codepen.io/saransh/pen/BKJun */
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1314px #bbb, 525px 1141px #bbb, 327px 522px #bbb,
    271px 109px #bbb, 437px 1565px #bbb, 103px 852px #bbb, 1374px 1952px #bbb,
    931px 1743px #bbb, 1405px 1949px #bbb, 445px 814px #bbb, 1455px 1148px #bbb,
    1879px 1713px #bbb, 1670px 1917px #bbb, 315px 213px #bbb, 97px 1319px #bbb,
    1639px 1688px #bbb, 367px 9px #bbb, 1034px 564px #bbb, 1546px 219px #bbb,
    948px 516px #bbb, 487px 13px #bbb, 415px 335px #bbb, 1879px 1750px #bbb,
    1685px 701px #bbb, 1715px 747px #bbb, 550px 1672px #bbb, 743px 388px #bbb,
    1988px 1634px #bbb, 791px 973px #bbb, 1596px 1952px #bbb, 432px 1599px #bbb,
    415px 1397px #bbb, 261px 798px #bbb, 1941px 708px #bbb, 1812px 1881px #bbb,
    804px 1254px #bbb, 1343px 1103px #bbb, 1662px 1630px #bbb,
    1446px 1760px #bbb, 93px 1378px #bbb, 901px 324px #bbb, 1587px 1549px #bbb,
    998px 242px #bbb, 1442px 525px #bbb, 1491px 1839px #bbb, 802px 1277px #bbb,
    1598px 137px #bbb, 877px 1841px #bbb, 66px 857px #bbb, 772px 779px #bbb,
    990px 1921px #bbb, 668px 1939px #bbb, 994px 521px #bbb, 1194px 548px #bbb,
    498px 1505px #bbb, 835px 1934px #bbb, 443px 1063px #bbb, 66px 1543px #bbb,
    1796px 167px #bbb, 264px 1967px #bbb, 1357px 540px #bbb, 1456px 908px #bbb,
    1508px 283px #bbb, 1186px 1577px #bbb, 1956px 1907px #bbb, 471px 266px #bbb,
    949px 1889px #bbb, 1737px 848px #bbb, 178px 301px #bbb, 1703px 1208px #bbb,
    1277px 1200px #bbb, 29px 199px #bbb, 573px 1468px #bbb, 1366px 1916px #bbb,
    883px 468px #bbb, 1757px 357px #bbb, 650px 1055px #bbb, 988px 1982px #bbb,
    521px 1082px #bbb, 173px 1745px #bbb, 96px 1992px #bbb, 615px 673px #bbb,
    683px 1042px #bbb, 1163px 1716px #bbb, 398px 894px #bbb, 1652px 1360px #bbb,
    1932px 491px #bbb, 1550px 1368px #bbb, 1136px 739px #bbb, 1302px 672px #bbb,
    1781px 796px #bbb, 853px 309px #bbb, 589px 1922px #bbb, 612px 615px #bbb,
    1635px 277px #bbb, 762px 1897px #bbb, 313px 1886px #bbb, 1377px 374px #bbb,
    445px 1018px #bbb, 73px 1728px #bbb, 798px 1898px #bbb, 1713px 1784px #bbb,
    1278px 1274px #bbb, 681px 1925px #bbb, 1959px 466px #bbb, 440px 229px #bbb,
    81px 1971px #bbb, 610px 142px #bbb, 1184px 979px #bbb, 515px 98px #bbb,
    1034px 625px #bbb, 1606px 405px #bbb, 1754px 1756px #bbb, 90px 1004px #bbb,
    1815px 492px #bbb, 691px 188px #bbb, 912px 1808px #bbb, 810px 453px #bbb,
    743px 61px #bbb, 1071px 554px #bbb, 1466px 1403px #bbb, 784px 520px #bbb,
    1191px 1979px #bbb, 107px 876px #bbb, 77px 931px #bbb, 125px 359px #bbb,
    176px 830px #bbb, 1568px 1641px #bbb, 4px 1217px #bbb, 1219px 534px #bbb,
    69px 1234px #bbb, 653px 1956px #bbb, 1266px 454px #bbb, 1665px 115px #bbb,
    140px 1489px #bbb, 1396px 1140px #bbb, 1153px 1685px #bbb, 692px 1467px #bbb,
    681px 353px #bbb, 1024px 67px #bbb, 1481px 1259px #bbb, 1742px 107px #bbb,
    1723px 169px #bbb, 66px 495px #bbb, 1915px 1088px #bbb, 264px 400px #bbb,
    400px 1974px #bbb, 640px 888px #bbb, 362px 1024px #bbb, 1661px 16px #bbb,
    1460px 1256px #bbb, 1659px 103px #bbb, 677px 1097px #bbb, 1755px 1409px #bbb,
    632px 230px #bbb, 551px 1921px #bbb, 1742px 508px #bbb, 1431px 827px #bbb,
    795px 1495px #bbb, 938px 1130px #bbb, 1459px 1091px #bbb, 72px 462px #bbb,
    1275px 955px #bbb, 930px 12px #bbb, 244px 647px #bbb, 1983px 423px #bbb,
    1017px 1174px #bbb, 920px 1080px #bbb, 543px 1658px #bbb, 378px 1300px #bbb,
    868px 1024px #bbb, 430px 1096px #bbb, 1900px 1030px #bbb, 1481px 1574px #bbb,
    1980px 217px #bbb, 1315px 391px #bbb, 804px 1154px #bbb, 1176px 1533px #bbb,
    1732px 1292px #bbb, 566px 1398px #bbb, 567px 1136px #bbb, 1385px 1340px #bbb,
    555px 1024px #bbb, 155px 1750px #bbb, 755px 1724px #bbb, 641px 499px #bbb,
    134px 1915px #bbb, 179px 1895px #bbb, 221px 838px #bbb, 211px 835px #bbb,
    286px 614px #bbb, 584px 1639px #bbb, 1478px 1192px #bbb, 1432px 1930px #bbb,
    87px 860px #bbb, 962px 197px #bbb, 372px 1190px #bbb, 317px 1198px #bbb,
    1195px 1412px #bbb, 69px 441px #bbb, 1737px 986px #bbb, 1987px 1442px #bbb,
    1431px 244px #bbb, 1015px 1243px #bbb, 701px 1355px #bbb, 723px 284px #bbb,
    403px 534px #bbb, 798px 1752px #bbb, 1254px 1597px #bbb, 646px 1551px #bbb,
    1611px 1436px #bbb, 1985px 224px #bbb, 106px 75px #bbb, 1028px 969px #bbb,
    476px 848px #bbb, 1326px 1638px #bbb, 953px 1367px #bbb, 1279px 873px #bbb,
    313px 243px #bbb, 460px 1635px #bbb, 884px 1479px #bbb, 34px 1229px #bbb,
    1069px 1484px #bbb, 1536px 1743px #bbb, 331px 39px #bbb, 149px 239px #bbb,
    1256px 645px #bbb, 1200px 1891px #bbb, 699px 104px #bbb, 135px 785px #bbb,
    909px 720px #bbb, 1751px 298px #bbb, 343px 303px #bbb, 1844px 1260px #bbb,
    270px 103px #bbb, 110px 1063px #bbb, 1486px 1300px #bbb, 1410px 314px #bbb,
    527px 1473px #bbb, 525px 1356px #bbb, 1786px 64px #bbb, 1830px 1619px #bbb,
    1963px 1715px #bbb, 1580px 524px #bbb, 429px 1239px #bbb, 1224px 1027px #bbb,
    274px 652px #bbb, 655px 115px #bbb, 1313px 1381px #bbb, 1846px 625px #bbb,
    1742px 1590px #bbb, 787px 1314px #bbb, 683px 1273px #bbb, 1665px 515px #bbb,
    835px 1446px #bbb, 935px 848px #bbb, 886px 73px #bbb, 1277px 1580px #bbb,
    995px 1222px #bbb, 966px 398px #bbb, 606px 312px #bbb, 710px 1355px #bbb,
    832px 1959px #bbb, 815px 429px #bbb, 1px 1342px #bbb, 1788px 1628px #bbb,
    724px 1323px #bbb, 547px 123px #bbb, 648px 1935px #bbb, 1731px 257px #bbb,
    46px 1846px #bbb, 1829px 1387px #bbb, 1514px 598px #bbb, 894px 1919px #bbb,
    973px 1922px #bbb, 1334px 698px #bbb, 229px 854px #bbb, 424px 661px #bbb,
    1948px 899px #bbb, 1877px 1217px #bbb, 492px 1030px #bbb, 1832px 244px #bbb,
    1639px 1495px #bbb, 1837px 1492px #bbb, 1285px 1511px #bbb,
    1281px 1303px #bbb, 290px 1891px #bbb, 362px 1116px #bbb, 924px 876px #bbb,
    519px 968px #bbb, 1012px 476px #bbb, 17px 208px #bbb, 498px 760px #bbb,
    109px 1526px #bbb, 875px 1378px #bbb, 615px 1495px #bbb, 1384px 1689px #bbb,
    1011px 1029px #bbb, 975px 230px #bbb, 1558px 1214px #bbb, 758px 49px #bbb,
    557px 157px #bbb, 1892px 17px #bbb, 1870px 1853px #bbb, 890px 1848px #bbb,
    736px 1497px #bbb, 550px 375px #bbb, 531px 1230px #bbb, 1379px 167px #bbb,
    1192px 1406px #bbb, 1762px 373px #bbb, 505px 802px #bbb, 760px 542px #bbb,
    534px 1213px #bbb, 1640px 255px #bbb, 597px 1791px #bbb, 1080px 1043px #bbb,
    362px 1615px #bbb, 1415px 856px #bbb, 1479px 1507px #bbb, 1859px 1612px #bbb,
    342px 50px #bbb, 1792px 1690px #bbb, 661px 326px #bbb, 179px 1286px #bbb,
    1895px 1274px #bbb, 1570px 103px #bbb, 608px 1293px #bbb, 1546px 2px #bbb,
    1747px 861px #bbb, 698px 618px #bbb, 1390px 886px #bbb, 192px 1303px #bbb,
    912px 1686px #bbb, 1246px 813px #bbb, 1301px 1030px #bbb, 1124px 1577px #bbb,
    1437px 271px #bbb, 1347px 136px #bbb, 635px 1589px #bbb, 1597px 1792px #bbb,
    436px 1802px #bbb, 496px 1474px #bbb, 771px 1220px #bbb, 541px 399px #bbb,
    1486px 662px #bbb, 964px 70px #bbb, 1658px 1662px #bbb, 1097px 1692px #bbb,
    1608px 232px #bbb, 39px 195px #bbb, 750px 1473px #bbb, 499px 1725px #bbb,
    728px 1887px #bbb, 1247px 1304px #bbb, 1199px 1398px #bbb, 1728px 541px #bbb,
    374px 334px #bbb, 1716px 1246px #bbb, 51px 614px #bbb, 1052px 1846px #bbb,
    1587px 1027px #bbb, 1686px 1035px #bbb, 1445px 1584px #bbb,
    681px 1405px #bbb, 256px 1164px #bbb, 1997px 1509px #bbb, 1297px 718px #bbb,
    1446px 840px #bbb, 977px 1238px #bbb, 1410px 738px #bbb, 1293px 603px #bbb,
    442px 1478px #bbb, 318px 270px #bbb, 959px 1806px #bbb, 586px 1962px #bbb,
    4px 469px #bbb, 953px 472px #bbb, 370px 1864px #bbb, 785px 1839px #bbb,
    1551px 1951px #bbb, 206px 248px #bbb, 1752px 1614px #bbb, 800px 60px #bbb,
    848px 121px #bbb, 1863px 547px #bbb, 171px 484px #bbb, 760px 1953px #bbb,
    234px 403px #bbb, 483px 1218px #bbb, 23px 1139px #bbb, 1376px 1197px #bbb,
    1684px 970px #bbb, 826px 1972px #bbb, 334px 1690px #bbb, 1681px 988px #bbb,
    406px 1136px #bbb, 864px 557px #bbb, 297px 1517px #bbb, 1348px 1080px #bbb,
    1008px 257px #bbb, 560px 1931px #bbb, 28px 969px #bbb, 1458px 597px #bbb,
    172px 1329px #bbb, 298px 1236px #bbb, 656px 1010px #bbb, 1687px 407px #bbb,
    1601px 268px #bbb, 211px 315px #bbb, 1089px 1243px #bbb, 1129px 866px #bbb,
    326px 58px #bbb, 146px 1700px #bbb, 1335px 349px #bbb, 421px 171px #bbb,
    1854px 1676px #bbb, 587px 147px #bbb, 424px 1402px #bbb, 1861px 85px #bbb,
    727px 870px #bbb, 1969px 1092px #bbb, 662px 927px #bbb, 635px 1726px #bbb,
    1258px 1647px #bbb, 1531px 175px #bbb, 1613px 1585px #bbb,
    1677px 1423px #bbb, 1991px 407px #bbb, 398px 1405px #bbb, 281px 740px #bbb,
    774px 966px #bbb, 1287px 881px #bbb, 465px 981px #bbb, 1648px 772px #bbb,
    484px 1433px #bbb, 1016px 366px #bbb, 240px 1067px #bbb, 257px 413px #bbb,
    244px 296px #bbb, 347px 328px #bbb, 964px 1px #bbb, 1335px 115px #bbb,
    921px 649px #bbb, 739px 1291px #bbb, 408px 322px #bbb, 99px 1180px #bbb,
    482px 639px #bbb, 1925px 1846px #bbb, 50px 644px #bbb, 7px 956px #bbb,
    1581px 147px #bbb, 255px 1138px #bbb, 880px 1604px #bbb, 669px 1375px #bbb,
    715px 94px #bbb, 1374px 421px #bbb, 932px 1743px #bbb, 1179px 227px #bbb,
    1450px 1728px #bbb, 525px 1814px #bbb, 1299px 29px #bbb, 1708px 912px #bbb,
    1791px 1721px #bbb, 421px 1316px #bbb, 988px 1247px #bbb, 1104px 159px #bbb,
    89px 1562px #bbb, 1599px 1697px #bbb, 250px 1054px #bbb, 30px 1212px #bbb,
    1552px 1812px #bbb, 177px 125px #bbb, 944px 991px #bbb, 326px 361px #bbb,
    1458px 1721px #bbb, 950px 1117px #bbb, 679px 929px #bbb, 53px 1302px #bbb,
    943px 106px #bbb, 704px 1387px #bbb, 410px 1651px #bbb, 48px 1691px #bbb,
    151px 1085px #bbb, 266px 1968px #bbb, 1711px 24px #bbb, 579px 1177px #bbb,
    1259px 1221px #bbb, 1255px 1292px #bbb, 16px 58px #bbb, 1588px 365px #bbb,
    768px 918px #bbb, 2px 325px #bbb, 1470px 1982px #bbb, 1225px 847px #bbb,
    1348px 791px #bbb, 700px 913px #bbb, 1234px 368px #bbb, 142px 936px #bbb,
    1153px 717px #bbb, 476px 1115px #bbb, 578px 1450px #bbb, 578px 1174px #bbb,
    387px 1013px #bbb, 629px 215px #bbb, 360px 214px #bbb, 642px 1944px #bbb,
    51px 1754px #bbb, 1609px 318px #bbb, 852px 1201px #bbb, 160px 1113px #bbb,
    1078px 1410px #bbb, 1440px 1885px #bbb, 623px 1411px #bbb, 697px 218px #bbb,
    1060px 1263px #bbb, 1699px 852px #bbb, 695px 289px #bbb, 325px 1667px #bbb,
    1654px 982px #bbb, 138px 1655px #bbb, 787px 1818px #bbb, 221px 927px #bbb,
    1599px 507px #bbb, 563px 55px #bbb, 279px 743px #bbb, 1983px 762px #bbb,
    1008px 1079px #bbb, 332px 1079px #bbb, 451px 984px #bbb, 1733px 1585px #bbb,
    536px 794px #bbb, 770px 1476px #bbb, 702px 1028px #bbb, 1616px 1263px #bbb,
    11px 93px #bbb, 1459px 1036px #bbb, 1805px 596px #bbb, 1200px 1537px #bbb,
    621px 1195px #bbb, 1925px 110px #bbb, 144px 942px #bbb, 79px 909px #bbb,
    1184px 471px #bbb, 436px 1200px #bbb, 681px 280px #bbb, 1462px 42px #bbb,
    1251px 359px #bbb, 827px 1495px #bbb, 340px 238px #bbb, 1673px 1291px #bbb,
    1402px 1519px #bbb, 1313px 295px #bbb, 174px 1515px #bbb, 1614px 505px #bbb,
    1806px 1661px #bbb, 1874px 1941px #bbb, 649px 1051px #bbb,
    1979px 1504px #bbb, 38px 1810px #bbb, 1223px 1197px #bbb, 1463px 1234px #bbb,
    618px 1167px #bbb, 60px 731px #bbb, 9px 1161px #bbb, 1384px 1967px #bbb,
    637px 1327px #bbb, 149px 1236px #bbb, 709px 1680px #bbb, 320px 570px #bbb,
    1910px 920px #bbb, 529px 316px #bbb, 972px 936px #bbb, 1994px 696px #bbb,
    827px 43px #bbb, 1477px 1515px #bbb, 1836px 1497px #bbb, 1716px 659px #bbb,
    833px 323px #bbb, 395px 146px #bbb, 1983px 259px #bbb, 1389px 261px #bbb,
    327px 1074px #bbb, 1341px 1855px #bbb, 1902px 1311px #bbb,
    1272px 1297px #bbb, 457px 1569px #bbb, 1378px 1732px #bbb, 252px 1575px #bbb,
    1230px 1052px #bbb, 1695px 354px #bbb, 39px 1009px #bbb, 1578px 717px #bbb,
    1263px 1823px #bbb, 918px 1195px #bbb, 1659px 381px #bbb, 1634px 1288px #bbb,
    8px 640px #bbb, 1025px 1570px #bbb, 895px 159px #bbb, 393px 1770px #bbb,
    1756px 921px #bbb, 1584px 452px #bbb, 916px 254px #bbb, 849px 1267px #bbb,
    439px 1150px #bbb, 1552px 58px #bbb, 1317px 1666px #bbb, 1878px 1216px #bbb,
    653px 1949px #bbb, 1858px 1194px #bbb, 559px 1756px #bbb, 239px 1806px #bbb,
    1721px 1511px #bbb, 1303px 494px #bbb, 853px 314px #bbb, 221px 196px #bbb,
    1910px 412px #bbb, 598px 431px #bbb, 723px 864px #bbb, 87px 1212px #bbb,
    1696px 342px #bbb, 1545px 933px #bbb, 1525px 1510px #bbb, 1639px 1177px #bbb,
    1447px 214px #bbb, 17px 1010px #bbb, 1850px 1363px #bbb, 66px 1274px #bbb,
    697px 1536px #bbb, 1418px 1978px #bbb, 741px 915px #bbb, 1936px 1558px #bbb,
    1961px 1048px #bbb, 1931px 1240px #bbb, 202px 1474px #bbb,
    1985px 1724px #bbb, 462px 1231px #bbb, 1171px 469px #bbb, 1860px 373px #bbb,
    896px 1676px #bbb, 1117px 730px #bbb, 221px 381px #bbb, 681px 807px #bbb,
    38px 723px #bbb, 638px 612px #bbb, 1748px 1144px #bbb, 1464px 1102px #bbb,
    1964px 1662px #bbb, 1364px 1938px #bbb, 425px 1036px #bbb, 790px 169px #bbb,
    63px 1016px #bbb, 1880px 724px #bbb, 11px 94px #bbb, 412px 1760px #bbb,
    1553px 984px #bbb, 619px 450px #bbb, 409px 1730px #bbb, 327px 1835px #bbb,
    200px 1970px #bbb, 608px 910px #bbb, 1383px 1965px #bbb, 939px 1666px #bbb,
    1778px 451px #bbb, 1240px 174px #bbb, 639px 1789px #bbb, 820px 848px #bbb,
    80px 769px #bbb, 1917px 1171px #bbb, 134px 616px #bbb, 538px 190px #bbb,
    1990px 738px #bbb, 984px 976px #bbb, 1191px 237px #bbb, 836px 293px #bbb,
    386px 243px #bbb, 462px 197px #bbb, 1955px 430px #bbb, 28px 381px #bbb,
    516px 55px #bbb, 478px 320px #bbb, 1378px 1460px #bbb, 1842px 1528px #bbb,
    897px 952px #bbb, 1514px 348px #bbb, 1748px 1515px #bbb, 1750px 1186px #bbb,
    94px 1718px #bbb, 1351px 1159px #bbb, 12px 316px #bbb, 1116px 1522px #bbb,
    1387px 884px #bbb, 257px 1730px #bbb, 940px 1690px #bbb, 425px 1045px #bbb,
    1710px 1089px #bbb, 1507px 216px #bbb, 1693px 753px #bbb, 94px 1864px #bbb;
  animation: animStar 200s linear infinite;
  z-index: -9999;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 968px 1314px #bbb, 525px 1141px #bbb, 327px 522px #bbb,
    271px 109px #bbb, 437px 1565px #bbb, 103px 852px #bbb, 1374px 1952px #bbb,
    931px 1743px #bbb, 1405px 1949px #bbb, 445px 814px #bbb, 1455px 1148px #bbb,
    1879px 1713px #bbb, 1670px 1917px #bbb, 315px 213px #bbb, 97px 1319px #bbb,
    1639px 1688px #bbb, 367px 9px #bbb, 1034px 564px #bbb, 1546px 219px #bbb,
    948px 516px #bbb, 487px 13px #bbb, 415px 335px #bbb, 1879px 1750px #bbb,
    1685px 701px #bbb, 1715px 747px #bbb, 550px 1672px #bbb, 743px 388px #bbb,
    1988px 1634px #bbb, 791px 973px #bbb, 1596px 1952px #bbb, 432px 1599px #bbb,
    415px 1397px #bbb, 261px 798px #bbb, 1941px 708px #bbb, 1812px 1881px #bbb,
    804px 1254px #bbb, 1343px 1103px #bbb, 1662px 1630px #bbb,
    1446px 1760px #bbb, 93px 1378px #bbb, 901px 324px #bbb, 1587px 1549px #bbb,
    998px 242px #bbb, 1442px 525px #bbb, 1491px 1839px #bbb, 802px 1277px #bbb,
    1598px 137px #bbb, 877px 1841px #bbb, 66px 857px #bbb, 772px 779px #bbb,
    990px 1921px #bbb, 668px 1939px #bbb, 994px 521px #bbb, 1194px 548px #bbb,
    498px 1505px #bbb, 835px 1934px #bbb, 443px 1063px #bbb, 66px 1543px #bbb,
    1796px 167px #bbb, 264px 1967px #bbb, 1357px 540px #bbb, 1456px 908px #bbb,
    1508px 283px #bbb, 1186px 1577px #bbb, 1956px 1907px #bbb, 471px 266px #bbb,
    949px 1889px #bbb, 1737px 848px #bbb, 178px 301px #bbb, 1703px 1208px #bbb,
    1277px 1200px #bbb, 29px 199px #bbb, 573px 1468px #bbb, 1366px 1916px #bbb,
    883px 468px #bbb, 1757px 357px #bbb, 650px 1055px #bbb, 988px 1982px #bbb,
    521px 1082px #bbb, 173px 1745px #bbb, 96px 1992px #bbb, 615px 673px #bbb,
    683px 1042px #bbb, 1163px 1716px #bbb, 398px 894px #bbb, 1652px 1360px #bbb,
    1932px 491px #bbb, 1550px 1368px #bbb, 1136px 739px #bbb, 1302px 672px #bbb,
    1781px 796px #bbb, 853px 309px #bbb, 589px 1922px #bbb, 612px 615px #bbb,
    1635px 277px #bbb, 762px 1897px #bbb, 313px 1886px #bbb, 1377px 374px #bbb,
    445px 1018px #bbb, 73px 1728px #bbb, 798px 1898px #bbb, 1713px 1784px #bbb,
    1278px 1274px #bbb, 681px 1925px #bbb, 1959px 466px #bbb, 440px 229px #bbb,
    81px 1971px #bbb, 610px 142px #bbb, 1184px 979px #bbb, 515px 98px #bbb,
    1034px 625px #bbb, 1606px 405px #bbb, 1754px 1756px #bbb, 90px 1004px #bbb,
    1815px 492px #bbb, 691px 188px #bbb, 912px 1808px #bbb, 810px 453px #bbb,
    743px 61px #bbb, 1071px 554px #bbb, 1466px 1403px #bbb, 784px 520px #bbb,
    1191px 1979px #bbb, 107px 876px #bbb, 77px 931px #bbb, 125px 359px #bbb,
    176px 830px #bbb, 1568px 1641px #bbb, 4px 1217px #bbb, 1219px 534px #bbb,
    69px 1234px #bbb, 653px 1956px #bbb, 1266px 454px #bbb, 1665px 115px #bbb,
    140px 1489px #bbb, 1396px 1140px #bbb, 1153px 1685px #bbb, 692px 1467px #bbb,
    681px 353px #bbb, 1024px 67px #bbb, 1481px 1259px #bbb, 1742px 107px #bbb,
    1723px 169px #bbb, 66px 495px #bbb, 1915px 1088px #bbb, 264px 400px #bbb,
    400px 1974px #bbb, 640px 888px #bbb, 362px 1024px #bbb, 1661px 16px #bbb,
    1460px 1256px #bbb, 1659px 103px #bbb, 677px 1097px #bbb, 1755px 1409px #bbb,
    632px 230px #bbb, 551px 1921px #bbb, 1742px 508px #bbb, 1431px 827px #bbb,
    795px 1495px #bbb, 938px 1130px #bbb, 1459px 1091px #bbb, 72px 462px #bbb,
    1275px 955px #bbb, 930px 12px #bbb, 244px 647px #bbb, 1983px 423px #bbb,
    1017px 1174px #bbb, 920px 1080px #bbb, 543px 1658px #bbb, 378px 1300px #bbb,
    868px 1024px #bbb, 430px 1096px #bbb, 1900px 1030px #bbb, 1481px 1574px #bbb,
    1980px 217px #bbb, 1315px 391px #bbb, 804px 1154px #bbb, 1176px 1533px #bbb,
    1732px 1292px #bbb, 566px 1398px #bbb, 567px 1136px #bbb, 1385px 1340px #bbb,
    555px 1024px #bbb, 155px 1750px #bbb, 755px 1724px #bbb, 641px 499px #bbb,
    134px 1915px #bbb, 179px 1895px #bbb, 221px 838px #bbb, 211px 835px #bbb,
    286px 614px #bbb, 584px 1639px #bbb, 1478px 1192px #bbb, 1432px 1930px #bbb,
    87px 860px #bbb, 962px 197px #bbb, 372px 1190px #bbb, 317px 1198px #bbb,
    1195px 1412px #bbb, 69px 441px #bbb, 1737px 986px #bbb, 1987px 1442px #bbb,
    1431px 244px #bbb, 1015px 1243px #bbb, 701px 1355px #bbb, 723px 284px #bbb,
    403px 534px #bbb, 798px 1752px #bbb, 1254px 1597px #bbb, 646px 1551px #bbb,
    1611px 1436px #bbb, 1985px 224px #bbb, 106px 75px #bbb, 1028px 969px #bbb,
    476px 848px #bbb, 1326px 1638px #bbb, 953px 1367px #bbb, 1279px 873px #bbb,
    313px 243px #bbb, 460px 1635px #bbb, 884px 1479px #bbb, 34px 1229px #bbb,
    1069px 1484px #bbb, 1536px 1743px #bbb, 331px 39px #bbb, 149px 239px #bbb,
    1256px 645px #bbb, 1200px 1891px #bbb, 699px 104px #bbb, 135px 785px #bbb,
    909px 720px #bbb, 1751px 298px #bbb, 343px 303px #bbb, 1844px 1260px #bbb,
    270px 103px #bbb, 110px 1063px #bbb, 1486px 1300px #bbb, 1410px 314px #bbb,
    527px 1473px #bbb, 525px 1356px #bbb, 1786px 64px #bbb, 1830px 1619px #bbb,
    1963px 1715px #bbb, 1580px 524px #bbb, 429px 1239px #bbb, 1224px 1027px #bbb,
    274px 652px #bbb, 655px 115px #bbb, 1313px 1381px #bbb, 1846px 625px #bbb,
    1742px 1590px #bbb, 787px 1314px #bbb, 683px 1273px #bbb, 1665px 515px #bbb,
    835px 1446px #bbb, 935px 848px #bbb, 886px 73px #bbb, 1277px 1580px #bbb,
    995px 1222px #bbb, 966px 398px #bbb, 606px 312px #bbb, 710px 1355px #bbb,
    832px 1959px #bbb, 815px 429px #bbb, 1px 1342px #bbb, 1788px 1628px #bbb,
    724px 1323px #bbb, 547px 123px #bbb, 648px 1935px #bbb, 1731px 257px #bbb,
    46px 1846px #bbb, 1829px 1387px #bbb, 1514px 598px #bbb, 894px 1919px #bbb,
    973px 1922px #bbb, 1334px 698px #bbb, 229px 854px #bbb, 424px 661px #bbb,
    1948px 899px #bbb, 1877px 1217px #bbb, 492px 1030px #bbb, 1832px 244px #bbb,
    1639px 1495px #bbb, 1837px 1492px #bbb, 1285px 1511px #bbb,
    1281px 1303px #bbb, 290px 1891px #bbb, 362px 1116px #bbb, 924px 876px #bbb,
    519px 968px #bbb, 1012px 476px #bbb, 17px 208px #bbb, 498px 760px #bbb,
    109px 1526px #bbb, 875px 1378px #bbb, 615px 1495px #bbb, 1384px 1689px #bbb,
    1011px 1029px #bbb, 975px 230px #bbb, 1558px 1214px #bbb, 758px 49px #bbb,
    557px 157px #bbb, 1892px 17px #bbb, 1870px 1853px #bbb, 890px 1848px #bbb,
    736px 1497px #bbb, 550px 375px #bbb, 531px 1230px #bbb, 1379px 167px #bbb,
    1192px 1406px #bbb, 1762px 373px #bbb, 505px 802px #bbb, 760px 542px #bbb,
    534px 1213px #bbb, 1640px 255px #bbb, 597px 1791px #bbb, 1080px 1043px #bbb,
    362px 1615px #bbb, 1415px 856px #bbb, 1479px 1507px #bbb, 1859px 1612px #bbb,
    342px 50px #bbb, 1792px 1690px #bbb, 661px 326px #bbb, 179px 1286px #bbb,
    1895px 1274px #bbb, 1570px 103px #bbb, 608px 1293px #bbb, 1546px 2px #bbb,
    1747px 861px #bbb, 698px 618px #bbb, 1390px 886px #bbb, 192px 1303px #bbb,
    912px 1686px #bbb, 1246px 813px #bbb, 1301px 1030px #bbb, 1124px 1577px #bbb,
    1437px 271px #bbb, 1347px 136px #bbb, 635px 1589px #bbb, 1597px 1792px #bbb,
    436px 1802px #bbb, 496px 1474px #bbb, 771px 1220px #bbb, 541px 399px #bbb,
    1486px 662px #bbb, 964px 70px #bbb, 1658px 1662px #bbb, 1097px 1692px #bbb,
    1608px 232px #bbb, 39px 195px #bbb, 750px 1473px #bbb, 499px 1725px #bbb,
    728px 1887px #bbb, 1247px 1304px #bbb, 1199px 1398px #bbb, 1728px 541px #bbb,
    374px 334px #bbb, 1716px 1246px #bbb, 51px 614px #bbb, 1052px 1846px #bbb,
    1587px 1027px #bbb, 1686px 1035px #bbb, 1445px 1584px #bbb,
    681px 1405px #bbb, 256px 1164px #bbb, 1997px 1509px #bbb, 1297px 718px #bbb,
    1446px 840px #bbb, 977px 1238px #bbb, 1410px 738px #bbb, 1293px 603px #bbb,
    442px 1478px #bbb, 318px 270px #bbb, 959px 1806px #bbb, 586px 1962px #bbb,
    4px 469px #bbb, 953px 472px #bbb, 370px 1864px #bbb, 785px 1839px #bbb,
    1551px 1951px #bbb, 206px 248px #bbb, 1752px 1614px #bbb, 800px 60px #bbb,
    848px 121px #bbb, 1863px 547px #bbb, 171px 484px #bbb, 760px 1953px #bbb,
    234px 403px #bbb, 483px 1218px #bbb, 23px 1139px #bbb, 1376px 1197px #bbb,
    1684px 970px #bbb, 826px 1972px #bbb, 334px 1690px #bbb, 1681px 988px #bbb,
    406px 1136px #bbb, 864px 557px #bbb, 297px 1517px #bbb, 1348px 1080px #bbb,
    1008px 257px #bbb, 560px 1931px #bbb, 28px 969px #bbb, 1458px 597px #bbb,
    172px 1329px #bbb, 298px 1236px #bbb, 656px 1010px #bbb, 1687px 407px #bbb,
    1601px 268px #bbb, 211px 315px #bbb, 1089px 1243px #bbb, 1129px 866px #bbb,
    326px 58px #bbb, 146px 1700px #bbb, 1335px 349px #bbb, 421px 171px #bbb,
    1854px 1676px #bbb, 587px 147px #bbb, 424px 1402px #bbb, 1861px 85px #bbb,
    727px 870px #bbb, 1969px 1092px #bbb, 662px 927px #bbb, 635px 1726px #bbb,
    1258px 1647px #bbb, 1531px 175px #bbb, 1613px 1585px #bbb,
    1677px 1423px #bbb, 1991px 407px #bbb, 398px 1405px #bbb, 281px 740px #bbb,
    774px 966px #bbb, 1287px 881px #bbb, 465px 981px #bbb, 1648px 772px #bbb,
    484px 1433px #bbb, 1016px 366px #bbb, 240px 1067px #bbb, 257px 413px #bbb,
    244px 296px #bbb, 347px 328px #bbb, 964px 1px #bbb, 1335px 115px #bbb,
    921px 649px #bbb, 739px 1291px #bbb, 408px 322px #bbb, 99px 1180px #bbb,
    482px 639px #bbb, 1925px 1846px #bbb, 50px 644px #bbb, 7px 956px #bbb,
    1581px 147px #bbb, 255px 1138px #bbb, 880px 1604px #bbb, 669px 1375px #bbb,
    715px 94px #bbb, 1374px 421px #bbb, 932px 1743px #bbb, 1179px 227px #bbb,
    1450px 1728px #bbb, 525px 1814px #bbb, 1299px 29px #bbb, 1708px 912px #bbb,
    1791px 1721px #bbb, 421px 1316px #bbb, 988px 1247px #bbb, 1104px 159px #bbb,
    89px 1562px #bbb, 1599px 1697px #bbb, 250px 1054px #bbb, 30px 1212px #bbb,
    1552px 1812px #bbb, 177px 125px #bbb, 944px 991px #bbb, 326px 361px #bbb,
    1458px 1721px #bbb, 950px 1117px #bbb, 679px 929px #bbb, 53px 1302px #bbb,
    943px 106px #bbb, 704px 1387px #bbb, 410px 1651px #bbb, 48px 1691px #bbb,
    151px 1085px #bbb, 266px 1968px #bbb, 1711px 24px #bbb, 579px 1177px #bbb,
    1259px 1221px #bbb, 1255px 1292px #bbb, 16px 58px #bbb, 1588px 365px #bbb,
    768px 918px #bbb, 2px 325px #bbb, 1470px 1982px #bbb, 1225px 847px #bbb,
    1348px 791px #bbb, 700px 913px #bbb, 1234px 368px #bbb, 142px 936px #bbb,
    1153px 717px #bbb, 476px 1115px #bbb, 578px 1450px #bbb, 578px 1174px #bbb,
    387px 1013px #bbb, 629px 215px #bbb, 360px 214px #bbb, 642px 1944px #bbb,
    51px 1754px #bbb, 1609px 318px #bbb, 852px 1201px #bbb, 160px 1113px #bbb,
    1078px 1410px #bbb, 1440px 1885px #bbb, 623px 1411px #bbb, 697px 218px #bbb,
    1060px 1263px #bbb, 1699px 852px #bbb, 695px 289px #bbb, 325px 1667px #bbb,
    1654px 982px #bbb, 138px 1655px #bbb, 787px 1818px #bbb, 221px 927px #bbb,
    1599px 507px #bbb, 563px 55px #bbb, 279px 743px #bbb, 1983px 762px #bbb,
    1008px 1079px #bbb, 332px 1079px #bbb, 451px 984px #bbb, 1733px 1585px #bbb,
    536px 794px #bbb, 770px 1476px #bbb, 702px 1028px #bbb, 1616px 1263px #bbb,
    11px 93px #bbb, 1459px 1036px #bbb, 1805px 596px #bbb, 1200px 1537px #bbb,
    621px 1195px #bbb, 1925px 110px #bbb, 144px 942px #bbb, 79px 909px #bbb,
    1184px 471px #bbb, 436px 1200px #bbb, 681px 280px #bbb, 1462px 42px #bbb,
    1251px 359px #bbb, 827px 1495px #bbb, 340px 238px #bbb, 1673px 1291px #bbb,
    1402px 1519px #bbb, 1313px 295px #bbb, 174px 1515px #bbb, 1614px 505px #bbb,
    1806px 1661px #bbb, 1874px 1941px #bbb, 649px 1051px #bbb,
    1979px 1504px #bbb, 38px 1810px #bbb, 1223px 1197px #bbb, 1463px 1234px #bbb,
    618px 1167px #bbb, 60px 731px #bbb, 9px 1161px #bbb, 1384px 1967px #bbb,
    637px 1327px #bbb, 149px 1236px #bbb, 709px 1680px #bbb, 320px 570px #bbb,
    1910px 920px #bbb, 529px 316px #bbb, 972px 936px #bbb, 1994px 696px #bbb,
    827px 43px #bbb, 1477px 1515px #bbb, 1836px 1497px #bbb, 1716px 659px #bbb,
    833px 323px #bbb, 395px 146px #bbb, 1983px 259px #bbb, 1389px 261px #bbb,
    327px 1074px #bbb, 1341px 1855px #bbb, 1902px 1311px #bbb,
    1272px 1297px #bbb, 457px 1569px #bbb, 1378px 1732px #bbb, 252px 1575px #bbb,
    1230px 1052px #bbb, 1695px 354px #bbb, 39px 1009px #bbb, 1578px 717px #bbb,
    1263px 1823px #bbb, 918px 1195px #bbb, 1659px 381px #bbb, 1634px 1288px #bbb,
    8px 640px #bbb, 1025px 1570px #bbb, 895px 159px #bbb, 393px 1770px #bbb,
    1756px 921px #bbb, 1584px 452px #bbb, 916px 254px #bbb, 849px 1267px #bbb,
    439px 1150px #bbb, 1552px 58px #bbb, 1317px 1666px #bbb, 1878px 1216px #bbb,
    653px 1949px #bbb, 1858px 1194px #bbb, 559px 1756px #bbb, 239px 1806px #bbb,
    1721px 1511px #bbb, 1303px 494px #bbb, 853px 314px #bbb, 221px 196px #bbb,
    1910px 412px #bbb, 598px 431px #bbb, 723px 864px #bbb, 87px 1212px #bbb,
    1696px 342px #bbb, 1545px 933px #bbb, 1525px 1510px #bbb, 1639px 1177px #bbb,
    1447px 214px #bbb, 17px 1010px #bbb, 1850px 1363px #bbb, 66px 1274px #bbb,
    697px 1536px #bbb, 1418px 1978px #bbb, 741px 915px #bbb, 1936px 1558px #bbb,
    1961px 1048px #bbb, 1931px 1240px #bbb, 202px 1474px #bbb,
    1985px 1724px #bbb, 462px 1231px #bbb, 1171px 469px #bbb, 1860px 373px #bbb,
    896px 1676px #bbb, 1117px 730px #bbb, 221px 381px #bbb, 681px 807px #bbb,
    38px 723px #bbb, 638px 612px #bbb, 1748px 1144px #bbb, 1464px 1102px #bbb,
    1964px 1662px #bbb, 1364px 1938px #bbb, 425px 1036px #bbb, 790px 169px #bbb,
    63px 1016px #bbb, 1880px 724px #bbb, 11px 94px #bbb, 412px 1760px #bbb,
    1553px 984px #bbb, 619px 450px #bbb, 409px 1730px #bbb, 327px 1835px #bbb,
    200px 1970px #bbb, 608px 910px #bbb, 1383px 1965px #bbb, 939px 1666px #bbb,
    1778px 451px #bbb, 1240px 174px #bbb, 639px 1789px #bbb, 820px 848px #bbb,
    80px 769px #bbb, 1917px 1171px #bbb, 134px 616px #bbb, 538px 190px #bbb,
    1990px 738px #bbb, 984px 976px #bbb, 1191px 237px #bbb, 836px 293px #bbb,
    386px 243px #bbb, 462px 197px #bbb, 1955px 430px #bbb, 28px 381px #bbb,
    516px 55px #bbb, 478px 320px #bbb, 1378px 1460px #bbb, 1842px 1528px #bbb,
    897px 952px #bbb, 1514px 348px #bbb, 1748px 1515px #bbb, 1750px 1186px #bbb,
    94px 1718px #bbb, 1351px 1159px #bbb, 12px 316px #bbb, 1116px 1522px #bbb,
    1387px 884px #bbb, 257px 1730px #bbb, 940px 1690px #bbb, 425px 1045px #bbb,
    1710px 1089px #bbb, 1507px 216px #bbb, 1693px 753px #bbb, 94px 1864px #bbb;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 919px 1696px #bbb, 603px 158px #bbb, 442px 1896px #bbb,
    1752px 504px #bbb, 1726px 1023px #bbb, 1022px 1203px #bbb,
    1842px 1522px #bbb, 1726px 304px #bbb, 412px 343px #bbb, 306px 15px #bbb,
    939px 781px #bbb, 395px 584px #bbb, 26px 706px #bbb, 357px 615px #bbb,
    36px 1488px #bbb, 194px 317px #bbb, 839px 266px #bbb, 1662px 1110px #bbb,
    826px 1857px #bbb, 676px 208px #bbb, 965px 274px #bbb, 882px 929px #bbb,
    1973px 1502px #bbb, 1961px 988px #bbb, 1508px 1890px #bbb,
    1092px 1058px #bbb, 925px 1604px #bbb, 1977px 601px #bbb, 1680px 1760px #bbb,
    1652px 506px #bbb, 1150px 826px #bbb, 1504px 257px #bbb, 242px 1336px #bbb,
    1799px 615px #bbb, 628px 1073px #bbb, 700px 270px #bbb, 1661px 1660px #bbb,
    1238px 1938px #bbb, 1626px 1778px #bbb, 30px 939px #bbb, 473px 1000px #bbb,
    1027px 1405px #bbb, 1603px 1170px #bbb, 722px 1430px #bbb, 65px 1946px #bbb,
    1619px 495px #bbb, 1374px 1193px #bbb, 808px 1818px #bbb, 1445px 1299px #bbb,
    196px 649px #bbb, 1495px 1515px #bbb, 1685px 1758px #bbb, 1423px 1396px #bbb,
    387px 1498px #bbb, 160px 416px #bbb, 1777px 1480px #bbb, 1841px 248px #bbb,
    1464px 368px #bbb, 739px 111px #bbb, 1850px 1454px #bbb, 1666px 1336px #bbb,
    656px 1135px #bbb, 48px 673px #bbb, 869px 1065px #bbb, 780px 1707px #bbb,
    955px 1878px #bbb, 1362px 1878px #bbb, 1123px 1031px #bbb,
    1450px 1660px #bbb, 1525px 1417px #bbb, 1347px 649px #bbb, 440px 377px #bbb,
    667px 9px #bbb, 1207px 1599px #bbb, 127px 162px #bbb, 1712px 1437px #bbb,
    726px 733px #bbb, 1851px 1486px #bbb, 888px 793px #bbb, 662px 728px #bbb,
    422px 105px #bbb, 882px 1267px #bbb, 769px 1243px #bbb, 324px 173px #bbb,
    1521px 1468px #bbb, 1384px 408px #bbb, 1300px 590px #bbb, 404px 1838px #bbb,
    1262px 217px #bbb, 1850px 1619px #bbb, 357px 767px #bbb, 718px 860px #bbb,
    1327px 1747px #bbb, 1544px 828px #bbb, 1036px 1573px #bbb,
    1862px 1753px #bbb, 1723px 1161px #bbb, 932px 780px #bbb, 371px 1573px #bbb,
    1030px 1474px #bbb, 77px 435px #bbb, 981px 1671px #bbb, 1682px 145px #bbb,
    248px 1169px #bbb, 1624px 579px #bbb, 1795px 1522px #bbb, 1979px 972px #bbb,
    1685px 594px #bbb, 1292px 212px #bbb, 859px 1373px #bbb, 768px 1340px #bbb,
    947px 716px #bbb, 1160px 56px #bbb, 1145px 1078px #bbb, 526px 1791px #bbb,
    837px 523px #bbb, 646px 1237px #bbb, 1091px 525px #bbb, 309px 295px #bbb,
    605px 677px #bbb, 568px 1744px #bbb, 1825px 1066px #bbb, 1489px 263px #bbb,
    1846px 667px #bbb, 1412px 1320px #bbb, 1465px 61px #bbb, 1604px 306px #bbb,
    76px 785px #bbb, 1540px 1000px #bbb, 583px 1841px #bbb, 1901px 585px #bbb,
    484px 559px #bbb, 1970px 1631px #bbb, 868px 122px #bbb, 600px 438px #bbb,
    649px 1548px #bbb, 1134px 1213px #bbb, 1304px 924px #bbb, 703px 1071px #bbb,
    808px 275px #bbb, 1877px 582px #bbb, 1373px 1085px #bbb, 1110px 412px #bbb,
    929px 1658px #bbb, 1802px 298px #bbb, 948px 916px #bbb, 894px 1194px #bbb,
    1851px 1054px #bbb, 832px 585px #bbb, 1481px 1159px #bbb, 364px 929px #bbb,
    1067px 1952px #bbb, 1288px 1701px #bbb, 1739px 309px #bbb, 123px 735px #bbb,
    1900px 376px #bbb, 1736px 1419px #bbb, 1530px 1597px #bbb,
    1540px 1542px #bbb, 1848px 1445px #bbb, 1366px 899px #bbb, 705px 618px #bbb,
    222px 1261px #bbb, 168px 763px #bbb, 1023px 732px #bbb, 1505px 1743px #bbb,
    1190px 116px #bbb, 1476px 1563px #bbb, 813px 694px #bbb, 1839px 852px #bbb,
    1044px 1018px #bbb, 750px 1491px #bbb, 1568px 1784px #bbb, 447px 1262px #bbb,
    288px 670px #bbb, 1337px 1862px #bbb, 1118px 796px #bbb, 1180px 517px #bbb,
    1100px 557px #bbb, 51px 1701px #bbb, 1903px 1588px #bbb, 873px 883px #bbb,
    867px 801px #bbb, 1516px 443px #bbb, 1207px 406px #bbb, 1907px 1586px #bbb,
    474px 904px #bbb, 1011px 1716px #bbb, 1609px 598px #bbb, 244px 609px #bbb,
    1288px 285px #bbb, 437px 1646px #bbb, 773px 281px #bbb, 1029px 724px #bbb,
    539px 587px #bbb, 1152px 1691px #bbb, 1075px 313px #bbb, 1949px 205px #bbb,
    1991px 748px #bbb, 873px 988px #bbb;
  animation: animStar 400s linear infinite;
  z-index: -9999;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 919px 1696px #bbb, 603px 158px #bbb, 442px 1896px #bbb,
    1752px 504px #bbb, 1726px 1023px #bbb, 1022px 1203px #bbb,
    1842px 1522px #bbb, 1726px 304px #bbb, 412px 343px #bbb, 306px 15px #bbb,
    939px 781px #bbb, 395px 584px #bbb, 26px 706px #bbb, 357px 615px #bbb,
    36px 1488px #bbb, 194px 317px #bbb, 839px 266px #bbb, 1662px 1110px #bbb,
    826px 1857px #bbb, 676px 208px #bbb, 965px 274px #bbb, 882px 929px #bbb,
    1973px 1502px #bbb, 1961px 988px #bbb, 1508px 1890px #bbb,
    1092px 1058px #bbb, 925px 1604px #bbb, 1977px 601px #bbb, 1680px 1760px #bbb,
    1652px 506px #bbb, 1150px 826px #bbb, 1504px 257px #bbb, 242px 1336px #bbb,
    1799px 615px #bbb, 628px 1073px #bbb, 700px 270px #bbb, 1661px 1660px #bbb,
    1238px 1938px #bbb, 1626px 1778px #bbb, 30px 939px #bbb, 473px 1000px #bbb,
    1027px 1405px #bbb, 1603px 1170px #bbb, 722px 1430px #bbb, 65px 1946px #bbb,
    1619px 495px #bbb, 1374px 1193px #bbb, 808px 1818px #bbb, 1445px 1299px #bbb,
    196px 649px #bbb, 1495px 1515px #bbb, 1685px 1758px #bbb, 1423px 1396px #bbb,
    387px 1498px #bbb, 160px 416px #bbb, 1777px 1480px #bbb, 1841px 248px #bbb,
    1464px 368px #bbb, 739px 111px #bbb, 1850px 1454px #bbb, 1666px 1336px #bbb,
    656px 1135px #bbb, 48px 673px #bbb, 869px 1065px #bbb, 780px 1707px #bbb,
    955px 1878px #bbb, 1362px 1878px #bbb, 1123px 1031px #bbb,
    1450px 1660px #bbb, 1525px 1417px #bbb, 1347px 649px #bbb, 440px 377px #bbb,
    667px 9px #bbb, 1207px 1599px #bbb, 127px 162px #bbb, 1712px 1437px #bbb,
    726px 733px #bbb, 1851px 1486px #bbb, 888px 793px #bbb, 662px 728px #bbb,
    422px 105px #bbb, 882px 1267px #bbb, 769px 1243px #bbb, 324px 173px #bbb,
    1521px 1468px #bbb, 1384px 408px #bbb, 1300px 590px #bbb, 404px 1838px #bbb,
    1262px 217px #bbb, 1850px 1619px #bbb, 357px 767px #bbb, 718px 860px #bbb,
    1327px 1747px #bbb, 1544px 828px #bbb, 1036px 1573px #bbb,
    1862px 1753px #bbb, 1723px 1161px #bbb, 932px 780px #bbb, 371px 1573px #bbb,
    1030px 1474px #bbb, 77px 435px #bbb, 981px 1671px #bbb, 1682px 145px #bbb,
    248px 1169px #bbb, 1624px 579px #bbb, 1795px 1522px #bbb, 1979px 972px #bbb,
    1685px 594px #bbb, 1292px 212px #bbb, 859px 1373px #bbb, 768px 1340px #bbb,
    947px 716px #bbb, 1160px 56px #bbb, 1145px 1078px #bbb, 526px 1791px #bbb,
    837px 523px #bbb, 646px 1237px #bbb, 1091px 525px #bbb, 309px 295px #bbb,
    605px 677px #bbb, 568px 1744px #bbb, 1825px 1066px #bbb, 1489px 263px #bbb,
    1846px 667px #bbb, 1412px 1320px #bbb, 1465px 61px #bbb, 1604px 306px #bbb,
    76px 785px #bbb, 1540px 1000px #bbb, 583px 1841px #bbb, 1901px 585px #bbb,
    484px 559px #bbb, 1970px 1631px #bbb, 868px 122px #bbb, 600px 438px #bbb,
    649px 1548px #bbb, 1134px 1213px #bbb, 1304px 924px #bbb, 703px 1071px #bbb,
    808px 275px #bbb, 1877px 582px #bbb, 1373px 1085px #bbb, 1110px 412px #bbb,
    929px 1658px #bbb, 1802px 298px #bbb, 948px 916px #bbb, 894px 1194px #bbb,
    1851px 1054px #bbb, 832px 585px #bbb, 1481px 1159px #bbb, 364px 929px #bbb,
    1067px 1952px #bbb, 1288px 1701px #bbb, 1739px 309px #bbb, 123px 735px #bbb,
    1900px 376px #bbb, 1736px 1419px #bbb, 1530px 1597px #bbb,
    1540px 1542px #bbb, 1848px 1445px #bbb, 1366px 899px #bbb, 705px 618px #bbb,
    222px 1261px #bbb, 168px 763px #bbb, 1023px 732px #bbb, 1505px 1743px #bbb,
    1190px 116px #bbb, 1476px 1563px #bbb, 813px 694px #bbb, 1839px 852px #bbb,
    1044px 1018px #bbb, 750px 1491px #bbb, 1568px 1784px #bbb, 447px 1262px #bbb,
    288px 670px #bbb, 1337px 1862px #bbb, 1118px 796px #bbb, 1180px 517px #bbb,
    1100px 557px #bbb, 51px 1701px #bbb, 1903px 1588px #bbb, 873px 883px #bbb,
    867px 801px #bbb, 1516px 443px #bbb, 1207px 406px #bbb, 1907px 1586px #bbb,
    474px 904px #bbb, 1011px 1716px #bbb, 1609px 598px #bbb, 244px 609px #bbb,
    1288px 285px #bbb, 437px 1646px #bbb, 773px 281px #bbb, 1029px 724px #bbb,
    539px 587px #bbb, 1152px 1691px #bbb, 1075px 313px #bbb, 1949px 205px #bbb,
    1991px 748px #bbb, 873px 988px #bbb;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 233px 1147px #bbb, 1293px 1094px #bbb, 831px 1065px #bbb,
    343px 129px #bbb, 1087px 1447px #bbb, 573px 1298px #bbb, 589px 442px #bbb,
    525px 782px #bbb, 1589px 1728px #bbb, 1729px 351px #bbb, 1109px 228px #bbb,
    1628px 176px #bbb, 1872px 1109px #bbb, 1255px 541px #bbb, 1575px 1939px #bbb,
    1376px 196px #bbb, 749px 257px #bbb, 766px 74px #bbb, 288px 39px #bbb,
    1020px 1334px #bbb, 262px 439px #bbb, 770px 508px #bbb, 96px 654px #bbb,
    491px 1212px #bbb, 366px 232px #bbb, 1082px 717px #bbb, 623px 1550px #bbb,
    857px 281px #bbb, 685px 1839px #bbb, 924px 1667px #bbb, 1647px 821px #bbb,
    679px 1557px #bbb, 1708px 36px #bbb, 455px 315px #bbb, 1315px 910px #bbb,
    714px 1686px #bbb, 1732px 1244px #bbb, 1802px 384px #bbb, 1753px 251px #bbb,
    1110px 1736px #bbb, 724px 623px #bbb, 415px 747px #bbb, 1959px 1916px #bbb,
    1615px 1807px #bbb, 352px 1447px #bbb, 434px 1373px #bbb, 1899px 1404px #bbb,
    497px 334px #bbb, 444px 1424px #bbb, 1257px 834px #bbb, 216px 1074px #bbb,
    748px 361px #bbb, 338px 874px #bbb, 673px 524px #bbb, 1229px 870px #bbb,
    898px 429px #bbb, 1871px 1771px #bbb, 899px 1153px #bbb, 570px 921px #bbb,
    821px 1749px #bbb, 784px 1445px #bbb, 948px 1548px #bbb, 627px 294px #bbb,
    1353px 1567px #bbb, 895px 1236px #bbb, 1183px 1379px #bbb,
    1981px 1107px #bbb, 412px 1202px #bbb, 107px 1218px #bbb, 1866px 869px #bbb,
    28px 1928px #bbb, 999px 56px #bbb, 995px 1321px #bbb, 710px 1696px #bbb,
    758px 569px #bbb, 393px 1279px #bbb, 833px 1119px #bbb, 276px 1141px #bbb,
    630px 66px #bbb, 194px 631px #bbb, 1002px 1606px #bbb, 462px 1949px #bbb,
    1818px 144px #bbb, 1562px 1763px #bbb, 1193px 679px #bbb, 1917px 266px #bbb,
    1445px 1973px #bbb, 1181px 947px #bbb, 885px 677px #bbb, 924px 1417px #bbb,
    414px 1783px #bbb, 1821px 1944px #bbb, 73px 303px #bbb, 1583px 408px #bbb,
    950px 165px #bbb, 125px 1397px #bbb, 35px 672px #bbb, 20px 437px #bbb,
    1931px 1723px #bbb, 1716px 754px #bbb;
  animation: animStar 600s linear infinite;
  z-index: -9999;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 233px 1147px #bbb, 1293px 1094px #bbb, 831px 1065px #bbb,
    343px 129px #bbb, 1087px 1447px #bbb, 573px 1298px #bbb, 589px 442px #bbb,
    525px 782px #bbb, 1589px 1728px #bbb, 1729px 351px #bbb, 1109px 228px #bbb,
    1628px 176px #bbb, 1872px 1109px #bbb, 1255px 541px #bbb, 1575px 1939px #bbb,
    1376px 196px #bbb, 749px 257px #bbb, 766px 74px #bbb, 288px 39px #bbb,
    1020px 1334px #bbb, 262px 439px #bbb, 770px 508px #bbb, 96px 654px #bbb,
    491px 1212px #bbb, 366px 232px #bbb, 1082px 717px #bbb, 623px 1550px #bbb,
    857px 281px #bbb, 685px 1839px #bbb, 924px 1667px #bbb, 1647px 821px #bbb,
    679px 1557px #bbb, 1708px 36px #bbb, 455px 315px #bbb, 1315px 910px #bbb,
    714px 1686px #bbb, 1732px 1244px #bbb, 1802px 384px #bbb, 1753px 251px #bbb,
    1110px 1736px #bbb, 724px 623px #bbb, 415px 747px #bbb, 1959px 1916px #bbb,
    1615px 1807px #bbb, 352px 1447px #bbb, 434px 1373px #bbb, 1899px 1404px #bbb,
    497px 334px #bbb, 444px 1424px #bbb, 1257px 834px #bbb, 216px 1074px #bbb,
    748px 361px #bbb, 338px 874px #bbb, 673px 524px #bbb, 1229px 870px #bbb,
    898px 429px #bbb, 1871px 1771px #bbb, 899px 1153px #bbb, 570px 921px #bbb,
    821px 1749px #bbb, 784px 1445px #bbb, 948px 1548px #bbb, 627px 294px #bbb,
    1353px 1567px #bbb, 895px 1236px #bbb, 1183px 1379px #bbb,
    1981px 1107px #bbb, 412px 1202px #bbb, 107px 1218px #bbb, 1866px 869px #bbb,
    28px 1928px #bbb, 999px 56px #bbb, 995px 1321px #bbb, 710px 1696px #bbb,
    758px 569px #bbb, 393px 1279px #bbb, 833px 1119px #bbb, 276px 1141px #bbb,
    630px 66px #bbb, 194px 631px #bbb, 1002px 1606px #bbb, 462px 1949px #bbb,
    1818px 144px #bbb, 1562px 1763px #bbb, 1193px 679px #bbb, 1917px 266px #bbb,
    1445px 1973px #bbb, 1181px 947px #bbb, 885px 677px #bbb, 924px 1417px #bbb,
    414px 1783px #bbb, 1821px 1944px #bbb, 73px 303px #bbb, 1583px 408px #bbb,
    950px 165px #bbb, 125px 1397px #bbb, 35px 672px #bbb, 20px 437px #bbb,
    1931px 1723px #bbb, 1716px 754px #bbb;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
